.login {
  background-image: linear-gradient(
      45deg,
      hsla(var(--primary-h), var(--primary-s), var(--accent-bg-l), var(--gradient-bg-opacity)),
      hsl(var(--primary-h), var(--primary-s), var(--primary-l), var(--gradient-bg-opacity)) 80%
  );

  &__content {
    display: flex;
    height: 100vh;
    padding: 20vh 0;
  }

  &__powered {
    font-size: .75rem;

    > span, a {
      opacity: .5;
      mix-blend-mode: overlay;
    }

    a {
      &:hover {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .container {
      width:100%
    }
  }

  .alert {
    font-size: .875rem;
  }

  .logo svg {
    --width: 225px;
    width: var(--width);
    height: calc(var(--width) * 15 / 100);
    fill: currentColor;
    color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 12.5%));
  }

  .card {
    border-radius: .5rem;
  }
}
