@mixin close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 16px;
  width: 12px;
  position: relative;

  &:focus {
    @include focus-outline('border');
  }
}

%select-close-button {
  @include close-button;
  position: absolute;
  height: 100%;
  width: 2rem;
  right: 0;
  top: 0;

  z-index: z('dropdownIcon');

  display:flex;
  align-items: center;
  justify-content: center;
}

@mixin close-icon {
  height: 10px;
  width: 10px;
  fill: $text-03;
  color: $text-03;
  position: absolute;
  top: 3px;
  right: 1px;
}

%select-close-icon {
  @include close-icon;
  position: static;
}
