@mixin nav-dropdown() {
  .SharpDropdown__list, .multiselect__content {
    //outline: 1px solid $brand-03 !important;
    border: 1px solid transparent !important;
    box-shadow: 0 0 2px 0 $brand-01 !important;
    width: auto;
    border-radius: $dropdown-list-border-radius;

    @include media-breakpoint-down(sm) {
      min-width: 100%;
    }
  }
  .SharpDropdown__link:focus,
  .multiselect__option--selected
  {
    background-color: white!important;
  }

  .multiselect__option--selected {
    font-weight: bold;
  }

  .SharpDropdown__link:hover,
  .multiselect__option--highlight {
    background-color: lighten($brand-02, 25%)!important;
    color: $text-01;
  }
}

@mixin dropdown-nowrap() {
  .multiselct__option {
    white-space: nowrap;
  }
}