@import 'flatpickr';



.SharpDate {
  position: relative;

  &__input {
    @if $enable-validation-icons {
      &--valuated.is-invalid {
        padding-right: $form-select-feedback-icon-padding-end;
        background-image: escape-svg($form-feedback-icon-invalid);
        background-position: $form-select-feedback-icon-position;
        background-size: $form-select-feedback-icon-size;
      }
    }
  }

  &__input-wrapper {
    &:hover {
      .SharpDate__clear-button {
        opacity: 1;
      }
    }
  }

  &__calendar {
    height: auto!important; // #auto-version
    min-height: 100%;
    @extend .flatpickr-calendar;
  }

  @at-root &__picker {
    position: absolute;
    display: flex;
    //height: auto!important; // #auto-version
    margin-top: -1px;

    &:focus {
      @include focus-outline('border');
    }

    .SharpDate__time {
      background: #fff;
      width: 10em;
      min-height: 200px;
      padding: .875rem 0 .25rem;
      font-size: .75rem;

      header {
        width: 100%;
        height: 1.75rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .hint {
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .dropdown {
        box-shadow:none;
        height:100%;
        top:0;

        .select-list {
          height: 100%;
          display: flex;
          overflow: hidden;
          flex-flow: row nowrap;
          align-items: stretch;
          justify-content: space-between;

          ul {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            list-style-type: none;

            padding: 0;
            margin: 0;

            li {
              height: 1.5rem;

              display: flex;
              align-items: center;
              justify-content: center;

              cursor: default;

              &:not(.hint):hover {
                background: $ui-04;
                cursor: pointer;
              }

              &.active {
                background: var(--component-active-bg) !important;
                color: var(--component-active-color);
                border: 2px solid transparent;
              }

            }

          }

        }
      }
    }

    .SharpDate__calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: .875rem 1rem;
      width: 285px;
      height: 230px;
      border-radius: 0;
      border: none;
      overflow: hidden;
      //margin-top: -1px;

      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }

      .up {
        @extend .flatpickr-current-month;
      }

      .prev {
        @extend .flatpickr-prev-month;
      }
      .next {
        @extend .flatpickr-next-month;
      }

      & > header {
        @extend .flatpickr-month;

        .SharpDate__cur-month, .SharpDate__cur-year, .SharpDate__cur-decade {
          @extend .cur-month;
          &:hover {
            background: none !important;
          }
        }

        width: 100%;
        margin-bottom: .2rem;

        .prev, .next, .up {
          &:hover, &:focus {
            color: hsl(var(--bs-primary-h), var(--bs-primary-s), 30%);
          }
        }

        .prev, .next {
          padding: 0;
          svg {
            fill: currentColor!important;
          }
        }

        .up {
          font-size: .75rem;
          text-transform: uppercase;
          padding: 0;
          cursor: pointer;
        }
      }


      //Extending overrided flatpickr classes
      .SharpDate__weekdays {
        @extend .flatpickr-weekdays;
      }

      .SharpDate__days {
        @extend .flatpickr-days;
      }

      .day-header {
        @extend .flatpickr-weekday;
      }
      .day {
        @extend .flatpickr-day;
      }
      .SharpDate__dayContainer, .SharpDate__monthContainer, .SharpDate__yearContainer {
        @extend .dayContainer;
        height: auto !important; // #auto-version
      }
      //

      .SharpDate__innerContainer, .SharpDate__rContainer {
        width: 225px !important;
      }

      .SharpDate__innerContainer {
        height: auto !important; // #auto-version
        @extend .flatpickr-innerContainer;

        .SharpDate__rContainer {
          height: auto !important; // #auto-version
          @extend .flatpickr-rContainer;

          .SharpDate__weekdays {
            width: 225px;
            margin-bottom: .325rem;

            .day-header {
              font-size: .75rem;
              font-weight: 700;
              color: $text-01;
            }
          }
          .SharpDate__days,
          .SharpDate__dayContainer,
          .SharpDate__monthContainer,
          .SharpDate__yearContainer {
            width: 225px;
            min-width: 225px;
            max-width: 225px;
          }


          .SharpDate__dayContainer {
            .day {
              font-size: .75rem;
              height: 1.5rem;
              width: 1.8rem;
              flex-basis: 1.8rem;
              margin: .5px 0;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $text-01;
              border-radius: 0;

              &:hover {
                background: $ui-04;
              }

              &:focus {
                outline: none;
                background: $ui-04;
              }

              &.today {
                border: 2px solid var(--bs-primary);
              }

              &.blank {
                pointer-events: none;
                cursor: default;
                &:hover {
                  background: transparent;
                }
              }

              &.disabled {
                cursor: not-allowed;
                color: $ui-05;

                &:hover {
                  background: transparent;
                }
              }

              &.selected {
                background: var(--component-active-bg);
                color: var(--component-active-color);
                border: 2px solid transparent;
              }
            }
          }

          .SharpDate__monthContainer, .SharpDate__yearContainer {
            justify-content: space-between;
            .month, .year {
              flex-basis: 33.333333%;
              text-align: center;

              display: flex;
              align-items: center;
              justify-content: center;

              &:focus {
                outline: none;
                background: $ui-04;
              }

              &:hover {
                background: $ui-03;
                cursor: pointer;
              }

              &.selected {
                background: var(--component-active-bg);
                color: var(--component-active-color);
                border: 2px solid transparent;
              }
            }
          }

        }

      }
    }
  }
}
