
.error-dot {
  &::after {
    content: "";
    display: inline-block;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: var(--bs-danger);
    margin-left: .75em;
  }
}

.error-dot--partial {
  &::after {
    background-color: transparent;
    border: 1px solid var(--bs-danger);
  }
}
