@import '../../mixins/entity-list';

.SharpEntityList {

  &__pagination-container {
    display: flex;
    justify-content: center;

    .SharpPagination {
      width: auto;
    }
  }

  &__reorder-icon {
    color: $brand-01-light;
  }

  &__table {
    @include reset;
    //display: table;
    //overflow-x: auto;
    //overflow-y: hidden;
    width: 100%;
    //min-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 3rem;
    background-color: transparent;

    //padding: 0 1em;

    &--border {
      border: 1px solid $ui-04;
      background-color: $ui-01;
    }

    &--condensed {
      .SharpEntityList__td {
        @include padding-td--condensed;
      }
    }
  }

  &__carret {
    fill: $ui-05;
    width: 8px;
    min-width: 8px;
    height: 8px;
    transform: rotate(0deg);
    transition: transform 200ms $bx--standard-easing;

    margin-left: .5em;
    cursor: pointer;
    &--ascending  {
      transform: rotate(180deg);
      transition: transform 200ms $bx--standard-easing;
    }

    &--selected {
      fill: $brand-01;
    }
  }

  &__input {
    @include hidden;
  }

  &--selection {
    .SharpEntityList__row:hover:not(.SharpEntityList__row--header) {
      background-color: rgba($brand-02, .1);
      //cursor: pointer;
    }
  }

  &__row {
    //display: table-row;
    display:flex;
    border-bottom: 1px solid $ui-04;
    transition: $transition--base $bx--standard-easing;

    @include media-breakpoint-down(sm) {
      flex-flow: column;
    }

    &__input:checked + & {
      background-color: rgba($brand-02, .1);
    }

    &--header {
      border: none;
      cursor: inherit;
    }

    .SharpEntityList__cols, .SharpEntityList__row-actions {
      padding: 1em 0;
    }

    &:focus:not(.SharpEntityList__row--header) {
      @include focus-outline('border');
    }

    &:hover:not(.SharpEntityList__row--header):not(.SharpEntityList__row--disabled) {
      box-shadow: inset 5px 0 0 lighten($brand-03, 25%);
    }

    .SharpEntityList__cols {
      flex: 1;
      display: flex;
      position: relative;
      .row {
        flex:1;
        align-items: center;
      }
      .SharpEntityList__row-link {
        position: absolute;
        left:0; right: 0; top: 0; bottom:0;
      }
    }
    .SharpEntityList__row-actions {
      width: 5rem;
      @include media-breakpoint-down(sm) {
        padding-top: 0;
        width: 100%;
      }
    }
  }

  .SharpEntityList__row--reorder {
    cursor: move;
    background: darken($ui-01, 5%) !important;
    border-bottom: 0;
    border-color: transparent;
    margin-bottom: .25rem;
    .SharpEntityList__row-link {
      display: none;
    }
  }

  &__thead {
    //display: table-header-group;
    border-bottom: 1px solid $brand-01;
    vertical-align: middle;
    //padding-right: 4em;
  }



  &__th {
    //@include reset;
    //@include padding-th;
    //display: table-cell;
    display: flex;
    align-items: center;
    font-size: rem(12px);
    font-weight: 700;
    height: rem(40px);
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;

    .SharpEntityList__sort-link {
      position: absolute;
      left:0; right: 0; top: 0; bottom:0;
    }

    & > span {
      //white-space: nowrap;
      line-height: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__tbody {
    //display: table-row-group;
    vertical-align: middle;
  }

  &__td {
    //@include reset;
    @include font-size('14');
    @include line-height('body');
    //@include padding-td;
    position: relative;
    //display: table-cell;

    &-html-container {
      max-width: 100%;
      * {
        font-size: rem(14px) !important;
      }
      img {
        max-width: 100%;
      }
      small {
        font-size: smaller !important;
      }
      b, strong {
        font-weight: bold !important;
      }
      em {
        font-style: italic !important;
      }
      a {
        position: relative;
        z-index: 1;
        &:hover {
          color: darken($color__blue-51, 25%);
        }
      }
    }
  }

  &__td, &__th {
    //padding: .5rem;
  }

  &__svg {
    display: inline-block;
    fill: transparent;
    vertical-align: middle;
    transition: $transition--base $bx--standard-easing;
  }

  &__row:hover .SharpEntityList__svg {
    fill: rgba($brand-02, .1);
  }

  &__input:checked + .SharpEntityList__row .SharpEntityList__svg {
    fill: $brand-02;
  }

  &__commands-dropdown {
    //border: 1px solid $brand-03 !important;
    .SharpDropdown__text {
      //border: 1px solid $brand-03;
    }
    &--placeholder {
      visibility: hidden;
    }
  }

  &__state-dropdown {
    .SharpDropdown__text {
      //color: $text-01!important;
    }
    .SharpDropdown__link {
      display: flex;
      align-items: center;

      svg {
        margin-right: .5rem;
      }
    }
  }

  &__state-dropdown, &__commands-dropdown {
    background:transparent;
    width: 100%;

    $bg-color: $ui-02;
    $hover-bg-color: darken($bg-color, 5%);

    @include nav-dropdown;

    &.SharpDropdown--open {
      .SharpDropdown__text {
        border-color: $dropdown-focus-border-color;
        background: $hover-bg-color;
      }
      //.SharpDropdown__arrow {fill: $brand-03}
    }

    &.SharpDropdown--disabled {
      opacity: 1;
      .SharpDropdown__arrow {
        display: none;
      }
      .SharpDropdown__text {
        padding-right: .25rem;
        background: $bg-color!important;
      }
    }

    .SharpDropdown__text {
      padding: .25rem 1.25rem .25rem .35rem;
      background: $ui-02;
      border: 1px solid transparent;
      font-size: .875em;
      color: $text-02;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        background: $hover-bg-color;
      }
    }

    .SharpDropdown__list {
      //width:rem(200px);
      right:0;
    }
  }
}