@import '../../mixins/entities-list';

.SharpEntitiesList {

  &__pagination-container {
    display: flex;
    justify-content: center;

    .SharpPagination {
      width: auto;
    }
  }

  &__table {
    @include reset;
    //display: table;
    //overflow-x: auto;
    //overflow-y: hidden;
    width: 100%;
    //min-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5rem;
    background-color: transparent;

    padding: 0 1em;

    &--border {
      border: 1px solid $ui-04;
      background-color: $ui-01;
    }

    &--condensed {
      .SharpEntitiesList__td {
        @include padding-td--condensed;
      }
    }
  }

  &__carret {
    fill: $ui-05;
    width: 8px;
    min-width: 8px;
    height: 8px;
    transform: rotate(0deg);
    transition: transform 200ms $bx--standard-easing;

    margin-left: .5em;
    cursor: pointer;
    &--ascending  {
      transform: rotate(180deg);
      transition: transform 200ms $bx--standard-easing;
    }

    &--selected {
      fill: $brand-02;
    }
  }

  &__input {
    @include hidden;
  }

  &--selection {
    .SharpEntities__row:hover:not(.SharpEntitiesList__row--header) {
      background-color: rgba($brand-02, .1);
      cursor: pointer;
    }
  }

  &__row {
    //display: table-row;
    display:flex;
    border-bottom: 1px solid $ui-04;
    transition: $transition--base $bx--standard-easing;


    &__input:checked + & {
      background-color: rgba($brand-02, .1);
    }

    &--header {
      border: none;
      cursor: inherit;
    }

    &--header, .SharpEntitiesList__cols, .SharpEntitiesList__row-actions {
      padding: 1em 0;
    }

    &:focus:not(.SharpEntitiesList__row--header) {
      @include focus-outline('border');
    }

    &:hover:not(.SharpEntitiesList__row--header, .SharpEntitiesList__row--disabled) {
      background-color: $ui-02;
      cursor: pointer;
    }

    .SharpEntitiesList__cols {
      flex: 1;
      display: flex;
      position: relative;
      .row {
        flex:1;
        align-items: center;
      }
      .SharpEntitiesList__row-link {
        position: absolute;
        left:0; right: 0; top: 0; bottom:0;
      }
    }
    .SharpEntitiesList__row-actions {
      display: flex;
      align-items: center;
    }

  }

  &__thead {
    //display: table-header-group;
    border-bottom: 2px solid $brand-01;
    vertical-align: middle;
    padding-right: 3em;
  }

  &__th {
    @include reset;
    //@include padding-th;
    //display: table-cell;
    display: flex;
    align-items: center;
    font-size: rem(12px);
    font-weight: 700;
    height: rem(40px);
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;

    & > span {
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  &__tbody {
    //display: table-row-group;
    vertical-align: middle;
  }

  &__td {
    @include reset;
    @include font-size('14');
    @include line-height('body');
    //@include padding-td;
    position: relative;
    //display: table-cell;

    &-html-container {
      max-width: 100%;
      img {
        max-width: 100%;
      }
    }
  }


  &__svg {
    display: inline-block;
    fill: transparent;
    vertical-align: middle;
    transition: $transition--base $bx--standard-easing;
  }

  &__row:hover .SharpEntities__svg {
    fill: rgba($brand-02, .1);
  }

  &__input:checked + .SharpEntities__row .SharpEntities__svg {
    fill: $brand-02;
  }

  &__state-dropdown, &__commands-dropdown {
    //height: 1.8rem;
    margin: 0 .1em;
    //width:1.5rem;

    background:transparent;

    &.SharpDropdown--open {
      .SharpDropdown__text {
        background: $ui-01;
      }
    }

    .SharpDropdown__text {
      background-color: transparent;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%
    }
    .SharpDropdown__list {
      outline: 1px solid $brand-03 !important;
      border: 1px solid transparent !important;
      z-index:100;
      width:rem(200px);
      right:0;
    }

    .SharpDropdown__link {
      &:focus, &:hover {
        background-color: $brand-03;
      }
    }
  }

  .SharpEntitiesList__command-icon {
    border: 1px solid $brand-03;
    width: rem(14px);
    height: rem(14px);
    color: $brand-03;
    display: flex;
    align-items: center;
    justify-content: center;

    .fa {
      font-size : rem(8px);
    }
  }

}