@import '../../mixins/dropdown';

.SharpFilterSelect {
  width: auto;
  display:flex;
  border: 1px solid $brand-03;
  cursor: default;

  @extend .SharpDropdown;
  @include nav-dropdown;

  &--open {
    @extend .SharpDropdown--open;
    .SharpSelect {
      .multiselect {
        @extend .multiselect--active;
      }
    }
  }

  &--empty, &--multiple {
    .multiselect__single {
      display:none;
    }
  }

  &--searchable {
    &.SharpFilterSelect--open {
      .SharpAutocomplete .multiselect__tags {
        width: 10rem !important;
        padding: 0 1rem !important;
        top: 100%;
      }
    }
    .SharpAutocomplete .multiselect__content {
      border-top: 2.5rem solid white !important;
    }
  }

  .SharpAutocomplete {
    .multiselect__tags {
      position:absolute;
      padding: 0;
      width: 0;
    }
    .multiselect__tags-wrap {
      display:none;
    }
    .multiselect__content {
      top: 100%;
    }
  }
  .SharpSelect {
    width: 100%;
    .multiselect__content {
      display:none!important;
    }
    .multiselect {
      box-shadow: none!important;
    }
  }

  &__text {
    //padding-right: .5rem;
    min-height: 100%;
    display:flex;
    align-items:center;
    padding-left: 1rem;
    position: relative;
    background: $ui-01;
    z-index: z('dropdownText');
    text-transform: uppercase;
    //color: $text-02;
    white-space: nowrap;
  }

  &__select {
    display: inline-block;

    .multiselect {
      position: initial;
      background: none;

      &__content {
        left:0;
        min-width: 10rem;
      }

      &__tag {
        background: $ui-01;
        &:not(:first-child):before {
          content: "|";
          position: absolute;
          left:0;
          top:0;
          font-weight: normal;
          @include font-size('16');
          margin-left: -.1875rem;

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &-icon {
          line-height: 20px;
        }

        &-icon:after {
          content: "x";
          color: $brand-03;
        }
      }

      .SharpSelect__clear-button {
        position: absolute;
        font-size: 100%;
        font-weight: bold;
        line-height: 0;
        width: 22px;
        padding-right: 1rem;
        &-icon {
          display: none;
        }
        &:after {
          content: "x";
          color: $brand-03;
        }
      }

      .SharpSelect__clear-button ~ .multiselect__tags {
        padding-right: 2rem;
      }

      &__tags {
        padding-right: 2rem;
        padding-left:0;
        box-shadow: none;
      }

      &__tags-wrap {
        @include media-breakpoint-down(sm) {
          display: flex;
          flex-flow:column;
          align-items: flex-start;
        }
      }

      &:focus {
        outline: 1px solid transparent;
      }

      &.multiselect--active {
        box-shadow: unset;
      }
    }
    .SharpSelect__clear-button {
      width: 2rem;
    }
  }
}