
.SharpFilterRange {
  height: 34px;
  border-width: 2px;
  padding-top: 0!important;
  padding-bottom: 0!important;
  width: 220px!important;

  .el-input__icon {
    display: none;
  }
  .el-range-input {
    width: 100%;
  }
  .el-range-separator {
    color: $text-01;
  }
}