@import '../../mixins/dropdown';

.SharpFilterSelect {
  width: auto;
  display:flex;
  border: $dropdown-border;
  border-radius: $btn-border-radius;
  transition: $dropdown-btn-transition;

  &:hover {
    border-color: $dropdown-hover-border-color;
  }

  $list-offset: $dropdown-list-offset + 2px;
  $search-input-height: 2.5rem;

  @extend .SharpDropdown;
  @include nav-dropdown;

  &--open {
    @extend .SharpDropdown--open;
    .SharpSelect {
      .multiselect {
        @extend .multiselect--active;
      }
    }
    border-color: $dropdown-focus-border-color!important;
  }

  .multiselect__placeholder {
    &::before { content: '\200B' }
  }

  &--searchable {
    &.SharpFilterSelect--open {
      .SharpAutocomplete .multiselect__tags {
        width: 10rem !important;
        padding: 0 1rem !important;
        top: 100%;
        margin-top: $list-offset;
        border-radius: $btn-border-radius;
        height: $search-input-height;
      }
    }
    .SharpAutocomplete .multiselect__content {
      border-top: $search-input-height solid white !important;
    }
  }

  .SharpAutocomplete {
    .multiselect__tags {
      position: absolute;
      padding: 0;
      width: 0;
    }
    .multiselect__tags-wrap,
    .multiselect__single,
    .multiselect__placeholder {
      display:none;
    }
    .multiselect__content {
      top: 100%;
      margin-top: $list-offset;
    }
  }
  .SharpSelect {
    width: 100%;
    .multiselect__content {
      display:none!important;
    }
    .multiselect {
      box-shadow: none!important;
    }
  }

  &__text {
    //padding-right: .5rem;
    min-height: 100%;
    display:flex;
    align-items:center;
    padding-left: 1rem;
    position: relative;
    background: $ui-01;
    z-index: z('dropdownText');
    cursor: default;
    //text-transform: uppercase;
    //color: $text-02;
    white-space: nowrap;
  }

  &__select {
    display: inline-block;
    position: static;

    .multiselect {
      position: static;
      background: none;

      &__content {
        left: 0;
        min-width: 10rem;
      }

      &__tag {
        background: $ui-01;
        height: auto;
        font-weight: bold;

        @extend .py-0;
        @extend .mb-0;

        &:not(:first-child){
          border-left: 1px solid $ui-03;
        }
        &:last-child {
          margin:0;
        }

        &-icon {
          line-height: 10px;
          font-weight: normal;
          font-size: 1rem;
        }

        &-icon:after {
          color: $brand-03;
          font-size: inherit;
        }
      }

      &__single {
        font-weight: bold;
      }

      .SharpSelect__clear-button-icon {
        fill: $brand-03;
        width: 8px;
        height: 8px;
      }

      .SharpSelect__clear-button ~ .multiselect__tags {
        padding-right: 2rem;
      }

      &__tags {
        padding: .5rem 2rem .5rem 0;
        line-height: 1;
        box-shadow: none;
        border: none;
        min-height: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: default;
      }

      &__tags-wrap, &__single {
        padding-left: .5rem;
      }

      &__tags-wrap {
        @include media-breakpoint-down(sm) {
          display: flex;
          flex-flow:column;
          align-items: flex-start;
        }
      }

      &:focus {
        outline: 1px solid transparent;
      }

      &.multiselect--active {
        box-shadow: unset;
      }
    }
    .SharpSelect__clear-button {
      width: 2rem;
    }
  }
}