.SharpViewPanel {
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  background: white;
  width: 90%;
  @include layer(pop-out);
  z-index: 99;

  &--collapsed {
    width:0;
  }

  &--collapsing {
    transition: width 400ms $bx--standard-easing;
  }

  &--expanding {
    transition: width 400ms $bx--standard-easing;
  }

  &--expanded {

  }
}