.SharpViewPanel {

  &__glasspane {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.1);

    z-index: z('overlay');
  }

  position: fixed;
  left:0;
  top:0;
  height: 100%;
  background: white;
  width: 90%;
  @include layer(pop-out);

  z-index: z('modal');

  &--collapsed {
    width:0;
  }

  &--collapsing {
    transition: width 400ms $bx--standard-easing;
  }

  &--expanding {
    transition: width 400ms $bx--standard-easing;
  }

  &--expanded {

  }
}