
:root {
  --c-text: #233140;
  --code-bg-color: #282c34;
}

:root, html.dark {
  --c-brand: hsl(211deg, 100%, 30%);
  --c-brand-light: hsl(211deg, 100%, 50%);
  --c-brand-rgb: 0, 76, 155;
  --c-tip: hsl(211deg, 50%, 50%);
  --navbar-height: 4.5rem;
}

html.dark {
  --c-text-accent: #99caff;
}
