

.algolia-docsearch-suggestion {
  &--category-header {
    .algolia-docsearch-suggestion--highlight {
      background-color: rgba(255, 255, 255, .375);
      box-shadow: none;
    }
  }
}

.algolia-search-wrapper .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: var(--c-text-accent);
}

.aa-suggestion-title-separator {
  display: inline!important;
}
