.home-page {
  .search-box {
    display: none;
  }
  .section {
    text-align: center;
    .row {
      //align-items: center;
    }
  }
  .section-title {
    margin: 0;
    border-bottom: none;
    font-size: 1.125rem;
    font-weight: normal;
    margin-top: 2rem;
    padding-bottom: 0;
  }
  .home {
    max-width: 1024px;
  }
  .hero {
    .action-button {
      color: $textColor;
      border-radius: 5rem;
      border-bottom: none;
      &:hover {
        background: darken($accentColor, 5%);
      }
    }
    img {
      margin-left: auto;
      margin-right: auto;
      max-height: none;
    }
  }
  .theme-default-content {
    // fix custom not applied
    padding: 0!important;
    margin: 0;
    max-width: 100%;
    > *:first-child {
      margin-top: 0;
    }

    p, ul {
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1024px) {
      img {
        max-width: calc(100% + 300px);
        margin-left -150px;
        margin-right -150px;
      }
    }
  }
  .heroicon-component-fill {
    fill: white;
  }
  .heroicon-component-accent {
    fill: $accentColor;
  }
  .heroicon-component-outline {
    fill: black;
  }
  .heroicon-component-shadow {
    display none;
  }
  .navbar {
    @media (min-width: 1700px) {
      background: none;
      border-bottom: none;
    }
    @media (min-width: 720px) {
      .site-name {
        transition: opacity .1s ease-in-out;
        opacity: 0;
      }
    }
  }
  &.show-logo {
    .navbar .site-name {
      opacity: 1;
    }
  }
  .card {
    background: #f9fafc;
    padding: 1.5rem 1rem;
    height 100%;
  }
}