.home {
  .search-box {
    display: none;
  }
  .section {
    margin-top: 2rem;
    .row {
      align-items: center;
    }
  }
  .section-title {
    margin: 0;
    border-bottom: none;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .hero {
    .action-button {
      color: $textColor!important;
    }
  }
  .heroicon-component-fill {
    fill: $accentColor;
  }
  .heroicon-component-accent {
    fill: white;
  }
  .heroicon-component-outline {
    fill: black;
  }
  .heroicon-component-shadow {
    display none;
  }
}