@import 'palette';
@import 'home';
@import 'search';

$hoverColor = rgba($accentColor, .35);

html {
  scroll-behavior: smooth;
}

code {
  -webkit-font-smoothing: subpixel-antialiased;
}

code.inline {
  @import "inline_code";
}

.theme-default-content {
  &:not(.custom) {
    padding-top: 2.5rem;
    @media (min-width: 720px) {
      padding-top: $navbarHeight;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
    &[target="_blank"] > span {
      display: inline-block;
      line-height: 1;
      margin-left: 0.125em;
    }
  }

  code {
    background-color: #f3f4f4;
  }

  h2, h3, h4 {
    code {
      line-height: 1.75;
      font-size .8em;
    }
    code:not(.full) {
      * {
        color: #476582!important;
      }
      .type-declaration {
        color: #597fa6!important;
      }
      .punctuation {
        color: #597fa6!important;
      }
    }
    code.full {
      display block;
      width: calc(100% + 1rem);
      padding: 1rem;
      font-size: 1rem;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(27,31,35,0.25);
      margin-bottom -.5rem;
      margin-left: -1rem;
      background: #f3f4f4;
      color: #6996bf;
      .token.function {
        margin-right .25em;
      }
    }
  }
  h3 + h3, h4 + h4 {
    margin-top: -1.5rem - $navbarHeight !important;
  }
  h5, h6 {
    font-size 700;
  }
  ul, p {
    code * {
      color: #476582!important;
    }
  }
}

a.header-anchor {
  text-decoration: none;
  color: $accentColor;
  opacity: 0;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  &:hover {
    .header-anchor {
      opacity .5;
    }
  }
}

div[class~="language-php"]:before {
  content: 'php';
}

a.sidebar-link {
  &.active {
    font-weight 700;
  }
}

.sidebar-sub-headers {
  a.sidebar-link {
    &.active {
      font-weight 600;
    }
  }
}

.page-nav {
  a {
    color: $textColor;
    &:hover {
      background: $hoverColor;
    }
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  .search-box {
    @media (min-width: 720px) {
      margin-right: 2rem;
    }
    input {
      border-radius: 4px;
      background-position: 0.45rem 0.45rem;
    }
  }
  .site-name {
    line-height: $navbarHeight;
    font-size: 1.5rem;
    @media (min-width: 720px) {
      font-size: 2rem;
    }
    .version {
      opacity: .5;
      font-weight: 400;
      margin-left: .125em;
      font-size: .75em;
    }
  }
  .sidebar-button {
    box-sizing: content-box;
    top: ($navbarHeight / 2);
    transform: translateY(-50%);
  }
}

.sidebar {
  background: #f9fafc;
}
