

.algolia-docsearch-suggestion {
  &--category-header {
    background: $accentColor!important;
    color: $textColor!important;
  }
  &--highlight {
    color: $textColor!important;
    background: lighten($accentColor, 85%)!important;
  }
}

.aa-suggestion-title-separator {
  display: inline!important;
}