.SharpAutocomplete {
  position: relative;
  font-size: 1rem;

  &--disabled {
    opacity: .5;
    cursor: not-allowed !important;
    outline: none !important;
  }

  &__multiselect {
    &--hide-dropdown.multiselect--active {
      .multiselect__content {
        display: none !important;
      }
    }
    &.multiselect--active {
      .multiselect__input {
        width: 100%!important;
      }
    }
  }

  .multiselect__option {
    padding: 0;
    .SharpTemplate {
      padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    }
  }

  .SharpTemplate {
    overflow: hidden;
    text-overflow: ellipsis;

    &--has-children {
      white-space: normal;
    }
  }

  &--remote {
    .multiselect__tags {
      padding-right: 1rem;
    }
  }

  .SharpLoading {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &__svg {
      stroke: $brand-01
    }
  }
}
