.SharpAutocomplete {
  position: relative;
  font-size: 1rem;

  &__multiselect {
    &--hide-dropdown.multiselect--active {
      .multiselect__content {
        display: none !important;
      }
    }
    &.multiselect--active {
      .multiselect__input {
        width: 100%!important;
      }
    }
  }

  &__result {
    position: relative;
    overflow: hidden;
  }

  .SharpClearButton {
    background-color: white;
  }

  .SharpTemplate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--wrap {
    .SharpTemplate--has-children {
      overflow: visible;
      white-space: normal;
    }
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed !important;
    outline: none !important;
  }

  .SharpLoading {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &__svg {
      stroke: $brand-01
    }
  }
}
