

.editor {

  --card-border-color: #{$input-border-color};

  &__header {
    position: sticky;
    top: var(--navbar-height);
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;
    background: white;
    padding: .75rem;
    transition: box-shadow .2s ease-in-out;
    z-index: 1;

    &.stuck {
      z-index: 3;
      box-shadow: $box-shadow-sm;
    }
  }

  .card-body {
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;

    &.form-control {
      margin: -1px;
      width: auto;
      padding: $input-padding-y $input-padding-x;

      border-top-left-radius: var(--card-body-border-top-radius, 0);
      border-top-right-radius: var(--card-body-border-top-radius, 0);
      border-top-color: transparent;

      &.is-invalid {
        border-top-color: $form-feedback-invalid-color;
      }
    }
  }

  &__content {
    position: relative;
    min-height: var(--min-height);
    max-height: var(--max-height);
    overflow-y: auto;

    &:focus {
      z-index: 2;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      b, strong {
        font-weight: bold;
      }
    }

    h1 {
      font-size: calc(1.625rem + (var(--heading-depth) - 1) * .1875rem);
    }

    h2 {
      font-size: calc(1.375rem + (var(--heading-depth) - 1) * .0625rem);
    }

    h3 {
      font-size: 1.125rem;
    }

    h4, h5, h6 {
      font-size: 1rem;
    }

    table {
      width: 100%;
      margin-bottom: 1rem;
      vertical-align: top;
      overflow: visible;

      > tbody {
        vertical-align: inherit;
      }
      td, th {
        padding: 0.5rem 0.5rem;
        border: 1px solid #dee2e6;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          border: var(--border);
          pointer-events: none;
        }

        &.selectedCell {
          z-index: 0;
        }

        &.selected {
          --border: 1px solid hsla(var(--primary-h), var(--primary-s), 30%, .5);
        }
      }
      th {
        background-color: #f8f9fa;
      }
      p {
        margin-bottom: 0;
      }
    }

    pre {
      overflow-wrap: anywhere;
      code {
        display: block;
        padding: .5rem .75rem;
      }
    }

    code {
      display: inline;
      color: inherit;
      background-color: #f0f2f4;
      border-radius: 3px;
      padding: .25em .5em;
    }

    ul, ol {
      &.tight p {
        margin-bottom: 0;
      }
    }

    .editor__image {
      display: inline-block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 200px;
      border: 1px solid $card-border-color;
      border-radius: $card-border-radius;
      margin-bottom: 1rem;
      transition: border .125s ease-in-out, box-shadow .125s ease-in-out;

      &.selected {
        border-color: var(--primary);
        box-shadow: $box-shadow;
      }
    }

    mark[data-color="selection"] {
      background-color: #ACCEF7;
      padding: 0;
    }

    blockquote {
      border-left: 5px solid #dee2e6;
      padding: .25rem;
      padding-left: 1rem;
      color: $text-muted;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    iframe {
      display: block;
      width: 350px;
      max-height: 200px;
      margin-bottom: 1rem;
    }

    [data-node-view-wrapper] {
      display: block;
    }

    .btn-light {
      --bs-btn-color: rgba(0,0,0,.675);
    }

    .Prosemirror-selectednode {
      outline: 0;
    }
  }

  .ProseMirror-focused {
    --node-selected-box-shadow: #{$box-shadow};
    --node-selected-card-border: var(--primary);
  }

  &__node {
    margin-bottom: 1rem;
    border-radius: 4px;
    --card-transition: border .125s ease-in-out, box-shadow .125s ease-in-out;

    &.selected {
      box-shadow: var(--node-selected-box-shadow);
      --card-border-color: var(--node-selected-card-border, #{$input-border-color});
    }

    .embed-node__template {
      --card-border-color: #{$card-border-color};
    }
  }

  &__dropdown {
    .dropdown-menu {
      width: max-content;
      @include media-breakpoint-up(sm) {
        min-width: var(--dropdown-min-width, 10rem);
      }
      &[x-placement^=top] {
        bottom: auto;
      }
    }

    &--link, &--table {
      --dropdown-min-width: 18rem;
    }
  }

  &__toolbar {
    // upload
    .fa-paperclip {
      -webkit-text-stroke: .03em var(--bs-light);
      &::before {
        display: inline-block;
        transform: scale(1.2) rotate(-45deg);
      }
    }

    // iframe
    .fa-caret-square-right {
      font-size: 1rem;
    }

    .btn {
      display: inline-flex;
      align-items: center;
      padding: .625rem .75rem;
      line-height: 1;
    }

    .fa-sm {
      font-size: .75rem;
    }

    .fa-xs {
      font-size: .675rem;
    }

    .btn-light {
      --bs-btn-color: rgba(0,0,0,.675);
    }
  }

  &--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }

  &--no-toolbar {
    --card-body-border-top-radius: #{$card-border-radius};
  }
}
