

.editor {

  &__header {
    position: sticky;
    top: var(--navbar-height);
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;
    background: white;
    padding: .75rem;
    transition: box-shadow .2s ease-in-out;

    &.stuck {
      z-index: 2;
      box-shadow: $box-shadow-sm;
    }
  }

  .card {
    border-color: $input-border-color;
  }

  .card-body {
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;

    &.form-control {
      margin: -1px;
      width: auto;
      padding: $input-padding-y $input-padding-x;
    }
  }

  .card-body.form-control {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: transparent;
    &.is-invalid {
      border-top-color: $form-feedback-invalid-color;
    }
  }

  &__content {
    position: static;
    height: var(--height, auto);
    overflow-y: auto;

    &:focus {
      position: relative;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      b, strong {
        font-weight: bold;
      }
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3, h4, h5, h6 {
      font-size: 1.125rem;
    }

    table {
      width: 100%;
      margin-bottom: 1rem;
      vertical-align: top;
      > tbody {
        vertical-align: inherit;
      }
      td, th {
        padding: 0.5rem 0.5rem;
        border: 1px solid #dee2e6;
      }
      p {
        margin-bottom: 0;
      }
    }

    .editor__image {
      display: inline-block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 200px;
      border: 1px solid $card-border-color;
      border-radius: $card-border-radius;
      margin-bottom: 1rem;
      transition: border .125s ease-in-out, box-shadow .125s ease-in-out;
      &.ProseMirror-selectednode {
        border-color: var(--primary);
        box-shadow: $box-shadow;
      }
    }

    mark[data-color="selection"] {
      background-color: #ACCEF7;
      padding: 0;
    }

    blockquote {
      border-left: 5px solid #dee2e6;
      padding: .25rem;
      padding-left: 1rem;
      color: $text-muted;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    li {
      p {
        margin-bottom: 0;
      }
    }
  }

  &__node {
    margin-bottom: 1rem;
  }

  &__link-dropdown {
    .dropdown-menu {
      width: 18rem;
      &[x-placement^=top] {
        bottom: auto;
      }
    }
  }

  &__toolbar {
    .fa-paperclip {
      -webkit-text-stroke: .03em $ui-03;
      &:hover {
        -webkit-text-stroke-color: $light;
      }
      &::before {
        display: inline-block;
        transform: rotate(-45deg);
        font-size: 1.2em;
      }
      &.btn {
        padding-top: calc(#{$btn-padding-y} - .12em);
        padding-bottom: calc(#{$btn-padding-y} - .12em);
      }
    }

    .btn {
      display: inline-flex;
      align-items: center;
      padding: .5rem .75rem;
      line-height: 1.2;
    }

    .fa-sm {
      font-size: .75rem;
    }

    .fa-xs {
      font-size: .675rem;
    }

    .btn-light {
      &:not(:hover):not(:focus):not(.active):not(.trix-active) {
        //color: hsla(var(--primary-h), var(--primary-s), 20%, .75);
        color: rgba(0,0,0,.675);
      }
    }
  }

  &--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }
}
