@import "../../mixins/fix-module-fields-margin";

.SharpList {
  &__empty-alert {
    opacity: .5;
  }

  &__add-button {
    position: relative;
  }

  &__sort-button {
    position: absolute;
    right: 0;
    top: .675rem;
    z-index: $zindex-field-header-sticky + 1;
  }

  &__remove-button {
    position: absolute;
    top: .25rem;
    right: .25rem;
    padding: .5em;
    transition: opacity .25s ease-in-out;
    font-size: .875rem;

    &:focus {
      opacity: $btn-close-focus-opacity;
    }
  }

  &__item {
    position: relative;
    padding-top: 1.75rem;
    padding-bottom: 2rem;

    @include fix-module-fields-margin;

    &:first-child {
      padding-top: 1.5rem;
    }

    &:not(:last-child) {
      border-bottom-style: dashed;
      border-bottom-color: rgba(0, 0, 0, 0.25);
    }

    .SharpGrid__row:first-child > .col-md-12:first-child > .SharpForm__form-item--no-label {
      margin-top: .5rem;
      .btn-block {
        margin-top: .5rem;
      }
    }

    // adjust button size
    .btn-block {
      font-size: .75rem;
    }

    .btn-sm, .SharpFieldLocaleSelect__btn {
      font-size: .675rem;
    }

    /// Contextual children modifiers
    .SharpForm--label {
      font-size: .75rem;
    }

    //.SharpUpload {
    //  &__inner {
    //    box-shadow: none !important;
    //  }
    //
    //  &__remove-button {
    //    display: none;
    //  }
    //
    //  &__close-button {
    //    display: initial;
    //  }
    //}

    .SharpField {
      .SharpClearButton:not(:focus) {
        opacity: 0;
      }
      &:hover {
        .SharpClearButton {
          opacity: 1;
        }
      }
    }

    .SharpSelect.SharpSelect--list {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    //@include module-contextual-close-button;
    ///

    .SharpList__overlay-handle {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: z('listItemOverlay');
      cursor: move;
    }

    &.sortable-chosen {
      @include focus-outline('border');
    }

    &.expand-enter-active {
      transition: all 400ms;
    }

    &.expand-leave-active {
      transition: all 200ms;
    }

    &.expand-enter, &.expand-leave-to  {
      opacity: 0;
      transform: translateY(30px);
    }

    &--no-transition {
      transition: unset;
    }
  }

  &__new-item-zone {
    z-index:3;
    position:absolute;
    //background: rgba(255,0,0,0.3);
    height:2rem;
    margin-bottom:-1rem;
    bottom:0;
    left:0;
    right:0;
    text-align: left;

    &:hover  {
      button {
        opacity: 1;
      }
    }
    button {
      opacity: 0;
      margin-left:-.95rem;
      &:focus {
        opacity: 1;
      }
    }
  }
}

.SharpForm__form-item--no-label .SharpList--can-sort {
  // if the list has no label put margin for the sort button
  margin-top: 1.5rem;
}
