@import "../../mixins/fix-module-fields-margin";
@import "../../mixins/module";

.SharpList {
  &__empty-alert {
    opacity: .5;
  }

  &__add-button {
    width:100%;
    background: rgba(255,255,255,.5);
  }

  &__sort-button {
    position: absolute;
    right: 0;
    top: -.125rem;
    z-index: 1;
  }

  //remove item button
  .SharpButton--danger {
    align-self: center;
  }

  &__item {
    @extend .SharpModule;

    @include fix-module-fields-margin;

    padding: 0;
    margin-bottom: 4px;
    position: relative;

    /// Contextual children modifiers
    .SharpForm--label {
      font-size: .75rem;
    }

    .SharpUpload {
      &__inner {
        box-shadow: none !important;
      }

      &__remove-button {
        display: none;
      }

      &__close-button {
        display: initial;
      }
    }

    .SharpSelect.SharpSelect--list {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @include module-contextual-close-button;
    ///

    .SharpList__overlay-handle {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: z('listItemOverlay');
      cursor: move;
    }

    &.sortable-chosen {
      @include focus-outline('border');
    }

    &:last-of-type {
      margin-bottom: rem(10px);
    }

    &.expand-enter-active {
      transition: all 400ms;
    }

    &.expand-leave-active {
      transition: all 200ms;
    }

    &.expand-enter, &.expand-leave-to  {
      opacity: 0;
      transform: translateY(30px);
    }

    &--no-transition {
      transition: unset;
    }
  }

  &__new-item-zone {
    z-index:3;
    position:absolute;
    //background: rgba(255,0,0,0.3);
    height:2rem;
    margin-bottom:-1rem;
    bottom:0;
    left:0;
    right:0;
    text-align: left;

    &:hover  {
      button {
        opacity: 1;
      }
    }
    button {
      opacity: 0;
      margin-left:-.95rem;
      &:focus {
        opacity: 1;
      }
    }
  }
}

.SharpForm__form-item--no-label .SharpList--can-sort {
  // if the list has no label put margin for the sort button
  margin-top: 1.5rem;
}
