.SharpSelect {

  &__clear-button {
    background: white;
  }

  //&__group {
  //  display: flex;
  //  flex-wrap: wrap;
  //  align-items: center;
  //  margin-bottom: -$checkbox-inline-margin-bottom;
  //  &--block {
  //    display: block;
  //    margin-bottom: 0;
  //  }
  //}

  &__links {
    font-size: .75em;
    a {
      color: #314255;
    }
  }
}
