.SharpSelect {

  &__clear-button {
    @extend %select-close-button;
    background: white;
    border-top-right-radius: $form-select-border-radius;
    border-bottom-right-radius: $form-select-border-radius;
    width: $form-select-indicator-padding;

    &-icon {
      @extend %select-close-icon;
      position: initial;
    }
  }

  //&__group {
  //  display: flex;
  //  flex-wrap: wrap;
  //  align-items: center;
  //  margin-bottom: -$checkbox-inline-margin-bottom;
  //  &--block {
  //    display: block;
  //    margin-bottom: 0;
  //  }
  //}

  &__links {
    font-size: .75em;
    a {
      color: #314255;
    }
  }
}
