.SharpUpload {
  position: relative;

  .dropzone {
    margin:0;
  }

  .dz-image-preview {
    display:none;
  }

  .dz-drag-hover {
    .SharpUpload__browse {
      @extend :focus;
    }
  }

  &__thumbnail {
    align-self: center;
    //margin-right: 1em;
    img {
      display:block;
      margin:auto;
      height:auto;
      width:auto;
      max-width:100%;
      max-height:150px;
    }
  }

  &__infos {
    //flex:1;
    .progress-bar {
      transition: width .5s;
    }
    display:flex;
    flex-flow: column;
    justify-content: space-between;

    .SharpUpload__info {
      font-size: .75rem;
    }

    .SharpUpload__download-link {
      font-size: .75rem;
      text-decoration: none;
    }

    .SharpUpload__filename {
      font-size: .875rem;
      font-weight: 500;
    }
  }

  &__progress {
    height: 3px;
    background: $ui-02;
    transition-delay: 500ms;
    &-bar {
      transition: width 500ms $bx--standard-easing;
      height:100%;
      background: $brand-02;
    }
  }

  &__progress-leave-to {
    .SharpUpload__progress-bar {
      width: 100%;
    }
  }

  &__modal-vue-cropper {
    @include media-breakpoint-up(xs) { max-height: 250px; }
    @include media-breakpoint-up(sm) { max-height: 300px; }
    @include media-breakpoint-up(md) { max-height: 400px; }
    @include media-breakpoint-up(md) { max-height: 500px; }
  }

  &__card {
    transition: border .125s ease-in-out, box-shadow .125s ease-in-out;
  }

  &--focused, .dz-drag-hover {
    .SharpUpload__card {
      box-shadow: $box-shadow;
      border-color: var(--bs-primary-hsl);
    }
  }

  &--compacted {
    .SharpUpload__thumbnail img {
      max-height: 60px !important;
    }
  }

  &--disabled {
    cursor: default;
    opacity: 0.7;
    .SharpUpload__upload-button {
      pointer-events: none;
    }
  }

}
