$loading__gap: 40;
$loading__size: 10.5rem;

$loading__end-duration: 300ms;

@import 'mixins';
@import 'keyframes';


.SharpLoading {
  @include reset;
  width: $loading__size;
  height: $loading__size;

  &__content {
    width: 100%;
    height: 100%;
    @include animation__loading--spin;
  }

  &__svg {
    fill: transparent;
    stroke: $brand-03;
    stroke-width: 7;
    stroke-linecap: butt;
    stroke-dasharray: 240;
    stroke-dashoffset: $loading__gap;
  }

  &--stop {
    .SharpLoading__content {
      @include animation__loading--stop;
    }
  }

  &--small {
    width: 2rem;
    height: 2rem;

    .SharpLoading__svg {
      stroke: $ui-05;
    }
  }

  &--medium {
    width: 3rem;
    height: 3rem;

    .SharpLoading__svg {
      stroke: $ui-05;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($ui-01, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2000ms $bx--standard-easing;

    z-index: 9999;

    &--absolute {
      position: absolute;
    }
  }

  &__overlay--stop {
    display: none;
  }
}
