{
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true,
      "helpers":true
    }]
  ],
  "presets": [
    ["es2015", {"modules": false }]
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ]
    }
  }
}