/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.babelrc export-ignore
/.styleci.yml export-ignore
/.php-cs-fixer.php export-ignore
/.editorconfig export-ignore
/.browserlistrc export-ignore
/composer.lock export-ignore
/package-lock.json export-ignore
/vite.config.ts export-ignore
/tailwind.config.js export-ignore
/tsconfig.json export-ignore
/pint.json export-ignore
/components.json export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/tests-e2e export-ignore
/demo export-ignore
/docs export-ignore
/README.md export-ignore
/ABOUT.md export-ignore
/SECURITY.md export-ignore
/resources/js export-ignore
/resources/sass export-ignore
/packages export-ignore
/src/Dev export-ignore
/scripts export-ignore
