@include media-breakpoint-up($breakpoint-fixed-menu) {
  #sharp-app.leftNav--collapsed {
    .SharpActionBar__bar {
      left: rem(48px);
      padding-left: 0;
    }
  }
}

.SharpActionBar {

  margin-bottom: 1rem;

  .left, .right {
    display: flex;
    align-items: center;
    & > *:not(.text-content) {
      //height: 100%
    }
  }

  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }

  &__bar {

    display: flex;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background: $brand-01;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    transition: left 300ms $bx--standard-easing;

    --threshold: var(--l-threshold);

    color: white;
    color: hsl(0, 0%, calc((var(--accent-bg-l) - var(--threshold)) * -100000));

    background: $primary;
    background: linear-gradient(
      45deg,
      hsl(var(--bs-primary-h), var(--bs-primary-s), var(--accent-bg-l)),
      hsl(var(--bs-primary-h), var(--bs-primary-s), var(--bs-primary-l)) 70%
    );

    position: relative;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      position: absolute!important;
      top: 0;
      right: 0;
      left: 3rem;
      height: 5rem;
      margin-left: 0;
      margin-right: 0!important;
    }
    @include media-breakpoint-up($breakpoint-fixed-menu) {
      position: fixed!important;
      z-index: $zindex-sticky;
      left: rem(200px);
    }
    & > .container {
      height: 100%;
      & > .row {
        height: 100%;
        & > & .col {
          height: 100%;
        }
      }
    }
  }

  &__extras {
    display:flex;
    padding-top: 1rem;
    //flex-flow: row wrap;
    align-items: center;
    height: 100%;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      align-items: stretch;
      height: auto;
    }

    .SharpFilterSelect {
      margin: 0 0 0 .5rem;
      @include media-breakpoint-down(sm) {
        margin: .5rem 0 0 0;
      }
      &:first-child {
        margin: 0;
      }
    }
  }

  @mixin overflow-dropdown-list {
    .SharpDropdown__list {
      width: auto;
      right:0;
    }
  }

  .SharpDropdown__text {
    height: 100%;
  }

  &__actions-dropdown {
    align-self: stretch;
    //min-width: 2rem;
    //max-width: 2rem;

    @include overflow-dropdown-list;

    .SharpDropdown__text {
      //border: none;
    }

    .SharpDropdown__link {
      padding-right: 1rem;
    }

    &--commands, &--state {
      //width: 2.5rem;
      //min-width: 2.5rem;
      //max-width: 2.5rem;

      white-space: nowrap;

      .SharpDropdown__text {
        line-height:1;
      }

      @include nav-dropdown;
    }
  }

  &__forms-dropdown {
    .dropdown-menu {
      margin-top: 1px;
    }
  }

  .breadcrumb {
    font-size: .75rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-self: flex-end;
    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
