@include media-breakpoint-up($breakpoint-fixed-menu) {
  .leftNav--collapsed {
    .SharpActionBar__bar {
      left: $leftnav-collapsed-width;
      padding-left: 0;
    }
  }
}

.SharpActionBar {

  margin-bottom: 1rem;

  &__bar {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background: $brand-01;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;

    transition: $transition-leftnav-collapse;
    transition-property: left;

    --threshold: var(--l-threshold);

    color: white;
    color: var(--navbar-color);

    background: $primary;
    background: linear-gradient(
      45deg,
      hsl(var(--bs-primary-h), var(--bs-primary-s), var(--accent-bg-l)),
      hsl(var(--bs-primary-h), var(--bs-primary-s), var(--bs-primary-l)) 70%
    );

    position: relative;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      position: absolute!important;
      top: 0;
      right: 0;
      left: $leftnav-collapsed-width;
      min-height: $navbar-min-height;
      margin-left: 0;
      margin-right: 0!important;
    }
    @include media-breakpoint-up($breakpoint-fixed-menu) {
      position: fixed!important;
      z-index: $zindex-sticky;
      left: $leftnav-width;
    }
    & > .container {
      & > .row {
        min-height: calc(2.5rem + var(--bs-gutter-y));
      }
    }
  }

  &__extras {
    padding-top: 1rem;
    .SharpFilterSelect {
      margin: 0 0 0 .5rem;
      @include media-breakpoint-down(sm) {
        margin: .5rem 0 0 0;
      }
      &:first-child {
        margin: 0;
      }
    }
  }

  &__forms-dropdown {
    .dropdown-menu {
      margin-top: 1px;
    }
  }

  .breadcrumb {
    font-size: .75rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-self: flex-end;
    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
