
.breadcrumb {
  font-size: .875rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  align-self: flex-end;
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
