

.btn {
  text-transform: uppercase;

  svg {
    fill: currentColor;
    vertical-align: -.125em;
  }

  &.active {
    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
  }
}

.btn-text {
  @include button-variant(
    $background: rgba(255, 255, 255, .5),
    $border: transparent,
    $color: $primary,
    $hover-background: white,
    $hover-border: white,
    $hover-color: $primary,
    $active-background: $primary,
    $active-border: $primary,
    $active-color: white,
    $disabled-background: transparent,
    $disabled-border: transparent,
    $disabled-color: $primary
  );
}

@mixin default {
  &:not(:hover):not(:active):not(.active) {
    @content;
  }
}

.btn-outline-primary {
  @include default {
    border-color: rgba(var(--bs-primary-rgb), .375);
  }
}

.btn-outline-light {
  @include default {
    border-color: rgba($light, .5);
  }
}

.btn-outline-danger {
  @include default {
    background-color: white;
    border-color: rgba($danger, .375);
  }
}
