

.btn {
  text-transform: uppercase;

  svg {
    fill: currentColor;
    vertical-align: -.125em;
  }

  &.active {
    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
  }
}


.btn-primary {
  --threshold: var(--l-threshold);
  --color-l: calc((var(--primary-l) - var(--threshold)) * -100000);
  --hover-bg-l: calc(var(--primary-l) + clamp(-#{$btn-hover-bg-shade-amount}, var(--color-l), #{$btn-hover-bg-tint-amount}));
  --active-bg-l: calc(var(--primary-l) + clamp(-#{$btn-active-bg-shade-amount}, var(--color-l), #{$btn-active-bg-tint-amount}));

  --bs-btn-bg: var(--primary-hsl);
  --bs-btn-color: hsl(0, 0%, var(--color-l));
  --bs-btn-border-color: var(--primary-hsl);
  --bs-btn-hover-bg: hsl(var(--primary-h), var(--primary-s), var(--hover-bg-l));
  --bs-btn-hover-border-color: hsl(
      var(--primary-h),
      var(--primary-s),
      calc(var(--primary-l) + clamp(-#{$btn-hover-border-shade-amount}, var(--color-l), #{$btn-hover-border-tint-amount}))
  );
  --bs-btn-hover-color: hsl(0, 0%, calc((var(--hover-bg-l) - var(--threshold)) * -100000));
  --bs-btn-active-bg: hsl(var(--primary-h), var(--primary-s), var(--active-bg-l));
  --bs-btn-active-border-color: hsl(
      var(--primary-h),
      var(--primary-s),
      calc(var(--primary-l) + clamp(-#{$btn-active-bg-shade-amount}, var(--color-l), #{$btn-active-bg-tint-amount}))
  );
  --bs-btn-active-color: hsl(0, 0%, calc((var(--active-bg-l) - var(--threshold)) * -100000));
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primary);
  --bs-btn-disabled-color: white;
  --bs-btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) + clamp(-15%, var(--color-l), 15%)), .5);
}



.btn-text {
  --color-l: 30%;
  --color-hsl: var(--primary-h), var(--primary-s), var(--color-l);

  --bs-btn-bg: hsla(var(--color-hsl), .1);
  --bs-btn-border-color: transparent;
  --bs-btn-color: var(--theme-color, hsla(var(--color-hsl), .875));
  --bs-btn-hover-bg: hsla(var(--color-hsl), .15);
  --bs-btn-hover-border-color: hsla(var(--color-hsl), .25);
  --bs-btn-hover-color: hsl(var(--color-hsl));
  --bs-btn-active-bg: hsl(var(--color-hsl));
  --bs-btn-active-border-color: hsl(var(--color-hsl));
  --bs-btn-active-color: hsl(0, 0%, calc((var(--color-l) - var(--l-threshold)) * -100000));
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-disabled-color: hsl(var(--color-hsl));
  --bs-btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} hsla(var(--primary-h), var(--primary-s), 45%, .5);
}


.btn-outline-primary {
  @include button-outline-variant(
    $color: black,
    $color-hover: hsl(0, 0%, calc((var(--primary-l) - var(--l-threshold)) * -100000)),
    $active-background: var(--primary-hsl),
    $active-border: var(--primary-hsl),
    $active-color: hsl(0, 0%, calc((var(--primary-l) - var(--l-threshold)) * -100000))
  );

  --bs-btn-color: var(--theme-color, var(--primary-hsl));
  --bs-btn-border-color: var(--theme-border-color, hsla(var(--primary-h), var(--primary-s), var(--primary-l), .375));
  --bs-btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} hsla(var(--primary-h), var(--primary-s), var(--primary-l), .5);
}

.btn-light {
  --bs-btn-bg: var(--bs-light);
  --bs-btn-border-color: transparent;
  --bs-btn-color: black;
  --bs-btn-hover-bg: var(--bs-light);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-hover-color: hsl(var(--primary-h), var(--primary-s), 30%);
  --bs-btn-active-bg: hsl(var(--primary-h), 75%, 94%);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-color: hsl(var(--primary-h), var(--primary-s), 25%);
  --bs-btn-disabled-bg: var(--bs-light);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-disabled-color: var(--bs-btn-color);
}

.btn-outline-light {
  --bs-btn-border-color: rgba(var(--bs-light-rgb), .5);
}

.btn-outline-danger {
  --bs-btn-bg: white;
  --bs-btn-border-color: rgba(var(--bs-danger-rgb), .375);
}

.btn-block {
  width: 100%;

  &:not(.btn-sm):not(.btn-lg) {
    border-radius: $border-radius-lg;
  }
}

.btn--outline-hover {
  background-color: transparent!important;
  --bs-btn-border-color: transparent;
}

.btn--opacity-1 {
  &:disabled, &.disabled {
    opacity: 1;
  }
}
