
.SharpCard {
  @include layer('raised');
  display: flex;
  flex-direction: column;
  height: rem(240px);
  background-color: $ui-01;
  border: 1px solid $ui-04;

  &:focus {
    @include focus-outline('layer');
  }

  .SharpCard {
    &__overview {
      position: relative;
      display: flex;
      justify-content: $card-flex-align;
      text-align: $card-text-align;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-right: 1rem;
      height: 12rem;

      .SharpCard__overflow-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: z('overflowOptions');
        margin: 0;
      }

      .SharpCard__overview-about {
        //@include reset;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: $card-flex-align;
        padding-top: 1rem;

        .SharpCard__about-title {
          font-weight: 400;
          padding-top: 1.5rem;

          &--name {
            font-size: 1.125rem;
            @include text-overflow(rem(180px));
            font-weight: 400;
            margin: 0;
            line-height: 1.2;
          }

          &--link {
            font-size: .75rem;
            @include text-overflow(rem(180px));
            display: inline;
            font-weight: 400;
            text-align: center;
          }

          &--additional-info {
            font-size: .75rem;
            @include text-overflow(rem(180px));
            display: inline;
            font-weight: 400;
            padding: 0;
            margin: 0;
            color: $text-02;

            &:first-child {
              padding-top: .25rem;
            }
          }
        }

        .SharpCard__about-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: rem(50px);
          height: rem(50px);
          background-color: $ui-01;
          border: 1px solid $ui-04;
          border-radius: 100%;

          .SharpCard__about-icon-img {
            width: rem(32px);
            height: rem(32px);
            overflow: hidden;
          }
        }

      }
    }

  }
}
