
.SharpClearButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 16px;
  width: 12px;
  position: relative;

  &__icon {
    height: 10px;
    width: 10px;
    fill: currentColor;
    color: $text-03;
    //position: absolute;
    //top: 3px;
    //right: 1px;
  }

  &--form-control {
    position: absolute!important;
    height: calc(100% - #{$input-border-width * 2});
    width: 2rem;
    right: $input-border-width;
    top: $input-border-width;

    z-index: 12;

    display:flex;
    align-items: center;
    justify-content: center;

    .SharpClearButton__icon {
      position: static;
    }
  }
}

