
.SharpClearButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 16px;
  width: 12px;
  position: relative;
  color: var(--clear-button-color, hsla(var(--primary-h), var(--primary-s), 20% , .5));

  &:hover {
    color: hsla(var(--primary-h), var(--primary-s), 20% , 1);
  }

  &__icon {
    height: var(--clear-button-icon-width, .625rem);
    width: var(--clear-button-icon-width, .625rem);
    fill: currentColor;
    //position: absolute;
    //top: 3px;
    //right: 1px;
  }

  &--form-control {
    position: absolute!important;
    height: 100%;
    width: 2rem;
    right: 0;
    top: 0;

    z-index: 12;

    display:flex;
    align-items: center;
    justify-content: center;

    .SharpClearButton__icon {
      position: static;
    }
  }
}

