@import '~sharp/scss/mixins/entity-list';

.SharpDataList {
  &--reordering {
    .SharpDataList__row:not(.SharpDataList__row--header) {
      cursor: move;
      background: darken($ui-01, 5%) !important;
      border-bottom: 0;
      border-color: transparent;
      margin-bottom: .25rem;
      .SharpDataList__row-link {
        display: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .SharpDataList__tbody {
      border: .25rem solid white;
    }
  }

  &__empty {
    background: white;
    border: 1px solid $ui-04;
    position: relative;
    border-radius: $list-group-border-radius;
  }

  &__table {

    //display: table;
    //overflow-x: auto;
    //overflow-y: hidden;
    width: 100%;
    //min-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;

    //padding: 0 1em;

    border-radius: $list-group-border-radius;

    &--border {
      border: 1px solid $ui-04;
      background-color: $ui-01;
    }
  }

  &__tbody {
    //display: table-row-group;
    vertical-align: middle;
    position: relative;

    border-radius: $list-group-border-radius;
  }

  &__thead {
    //display: table-header-group;
    border-bottom: 1px solid $brand-01;
    vertical-align: middle;
    //padding-right: 4em;
  }

  &__row-spacer {
    width: var(--append-width, auto);
  }

  &__row {
    //display: table-row;
    display:flex;
    border-bottom: 1px solid $ui-04;
    transition: box-shadow .25s ease-in-out;

    @include media-breakpoint-down(sm) {
      flex-flow: column;
    }

    &:last-child {
      border-bottom: 0;
    }

    &--header {
      border: none;
      cursor: inherit;
      .SharpDataList__row-append {
        display: none;
        @include media-breakpoint-up(sm) {
          display: block;
        }
      }
    }

    .SharpDataList__cols, .SharpDataList__row-append  {
      padding: 1em 0;
    }

    &:hover:not(.SharpDataList__row--header):not(.SharpDataList__row--disabled) {
      box-shadow: inset 5px 0 0 hsla(var(--bs-primary-h), var(--bs-primary-s), 40%, .5);
    }

    &--highlight {
      box-shadow: inset 3px 0 0 hsla(var(--bs-primary-h), var(--bs-primary-s), 40%, .25);
      .modal-open & {
        box-shadow: inset 5px 0 0 hsla(var(--bs-primary-h), var(--bs-primary-s), 40%, .5);
      }
    }

    &--full-width {
      .SharpDataList__td:last-child {
        margin-right: calc(var(--append-width) * -1);
        width: 100%;
        flex: 1 0 0;
      }
    }

    .SharpDataList__cols {
      flex: 1;
      display: flex;
      position: relative;
      .row {
        flex:1;
        align-items: center;
      }
      .SharpDataList__row-link {
        position: absolute;
        left:0; right: 0; top: 0; bottom:0;
      }
    }
    .SharpDataList__row-append {
      @include media-breakpoint-down(sm) {
        padding-top: 0;
        width: 100%!important;
      }
    }
  }

  &__row-append {
    position: relative;
  }

  &__th {
    @extend .ui-font;
    display: flex;
    align-items: center;
    font-size: .8125rem;
    font-weight: 700;
    height: 2.5rem;
    text-align: left;
    vertical-align: middle;
    position: relative;

    & > span {
      //white-space: nowrap;
      line-height: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .SharpDataList__sort-link {
      position: absolute;
      left:0; right: 0; top: 0; bottom:0;
    }
  }

  &__td {
    font-size: .875rem;
    @include line-height('body');
    //@include padding-td;
    position: relative;
    //display: table-cell;

    &-html-container {
      max-width: 100%;
      @include media-breakpoint-down(xs) {
        overflow-wrap: break-word;
      }
      * {
        font-size: rem(14px) !important;
      }
      img {
        max-width: 100%;
      }
      small {
        font-size: smaller !important;
      }
      b, strong {
        font-weight: bold !important;
      }
      em {
        font-style: italic !important;
      }
      a {
        &, * {
          position: relative;
          z-index: 1;
        }
        &:hover {
          color: darken($color__blue-51, 25%);
        }
      }
    }
  }

  &__caret {
    fill: $ui-05;
    width: 8px;
    min-width: 8px;
    height: 8px;
    transform: rotate(0deg);
    transition: transform 200ms $bx--standard-easing;

    margin-left: .5em;
    cursor: pointer;

    &--ascending  {
      transform: rotate(180deg);
      transition: transform 200ms $bx--standard-easing;
    }

    &--selected {
      fill: $brand-01;
    }
  }

  &__pagination-container {
    display: flex;
    justify-content: center;

    .SharpPagination {
      width: auto;
      margin-bottom: 0;
      margin-top: 3rem;
    }
  }
}
