

.SharpDropdown {
  .dropdown-menu {
    > li:first-child, > li:last-child {
      .dropdown-divider {
        display: none;
      }
    }
  }
  .dropdown-item {
    @extend .ui-font;
    font-size: $ui-font-size * .875;
  }
}

