@import "../mixins/left-nav";

.SharpLeftNav {

  --item-color-l: 30%;
  $item-color: hsl(var(--bs-primary-h), 10%, 20%);
  $item-hover-bg: hsla(var(--bs-primary-h), var(--bs-primary-s), var(--item-color-l), .05);
  $item-hover-color: inherit;
  $item-active-bg: hsla(var(--bs-primary-h), var(--bs-primary-s), var(--item-color-l), .1);
  $item-active-color: hsl(var(--bs-primary-h), var(--bs-primary-s), var(--item-color-l));
  $item-expanded-color: hsl(var(--bs-primary-h), var(--bs-primary-s), 25%);

  position: fixed;
  top: 0;
  height: 100vh;
  background-color: $color__white;
  //border-right: 1px solid $color__gray-1;
  max-height: 100vh;

  z-index: 100;

  &__content {
    box-shadow: 1px 0 3px 0 hsla(var(--bs-primary-h), var(--bs-primary-s), 30%, 0.075);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__inner {
    overflow: auto;
  }

  &__title-container {
    padding: .75rem 1.25rem;
    background-color: $primary;
    background: linear-gradient(
      0deg,
      hsl(var(--bs-primary-h), var(--bs-primary-s), var(--accent-bg-l)),
      hsl(var(--bs-primary-h), var(--bs-primary-s), calc(var(--accent-bg-l) - 1.4%))
    );
    display: flex;
    align-items: center;
    min-height: var(--navbar-height);
    z-index: 1;
  }

  &__title {
    @extend .ui-title-font;
    --color-l: calc((var(--accent-bg-l) - var(--l-threshold) + var(--accent-bg-amount)) * -100000);
    font-size: 1rem;
    color: hsl(0, 0%, var(--color-l));
  }

  &__top-icon {
    opacity: 0;
    color: hsl(var(--bs-primary-h), var(--bs-primary-s), 30%);
    position: absolute;
    right:0;
    left:0;
    .fa {
      text-align: center;
      width: 100%;
    }
  }



  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: $color__white;
    padding-left: 0;
    margin-bottom: 0;

    &.SharpLeftNav__list--nested {
      .SharpLeftNav__item:last-child {
        margin-bottom: 0;
      }
    }
    &:not(.SharpLeftNav__list--nested) {
      & > .SharpLeftNav__item {
        border-bottom: 1px solid $ui-03;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
    }

    @include enhanced-item-font-size;
  }

  &__separator {
    position: relative;
    padding-left: 3.5rem;
    padding-right: 1.25rem;
    margin-top: .75rem;
    margin-bottom: 1.25rem;
    color: hsl(var(--bs-primary-h), 10%, 60%);
    font-size: .6875rem;
    line-height: 1.2;
    min-height: 1px;
    &::before {
      content: "";
      display: block;
      border-bottom: 1px solid $ui-03;
      position: absolute;
      top: 50%;
      left: 1.25rem;
      right: 1.25rem;
      transform: translateY(-50%);
    }
    > span {
      position: relative;
      max-width: 100%;
      background-color: white;
      padding: .125em .75em;
      margin-left: -.75em;
      -webkit-box-decoration-break: clone;
    }
  }

  &__item {
    width: 100%;
    padding: 0;

    &:focus:not(:focus-visible) {
      outline: 0;
    }

    &.SharpLeftNav__item--active {
      & > .SharpLeftNav__item-link {
        background-color: $item-active-bg;
        color: $item-active-color;
        font-weight: 700;
        letter-spacing: -.0125em;
      }
    }

    &-icon {
      display: flex;

      .SharpLeftNav__icon {
        fill: currentColor;
        width: .5rem;
        height: .5rem;
        transition: $transition--base;
      }
    }

    &--expanded {
      .SharpLeftNav__item-icon .SharpLeftNav__icon {
        transform: rotate(180deg);
      }
    }

    &:not(.SharpLeftNav__item--active):not(.SharpLeftNav__item--disabled) {
      & > .SharpLeftNav__item-link:hover {
        color: $item-hover-color;
        background-color: $item-hover-bg;
      }
    }

    &:not(.SharpLeftNav__item--disabled) {
      @extend .ui-font;
      letter-spacing: -.025em;
    }

    &.SharpLeftNav__item--disabled {
      .SharpLeftNav__item-link {
        cursor: default;
      }
    }

    &--has-children {
      & > .SharpLeftNav__item-link {
        color: $text-muted;
        font-weight: 700;
        font-size: .875rem;
        letter-spacing: 0;
        &:hover {
          color: $item-color;
        }
      }
    }
  }

  &__item-link {
    font-size: $ui-font-size;
    font-size: .8125rem;
    position: relative;
    display: block;
    text-decoration: none;
    transition: $nav-link-transition;
    cursor: pointer;
    color: $item-color;
    line-height: 1.4;
    padding: .5rem 1.25rem;

    .fa, .fas, .far, .fab {
      font-size: 1.125em;
    }

    & > span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }

    &:focus {
      color: $item-hover-color;
      background-color: $item-hover-bg;
    }
  }

  &__list--nested {
    padding-top: .625rem;
    padding-bottom: .375rem;
    .SharpLeftNav__item {
      margin-bottom: .5rem;
    }
  }

  // collapsed states
  ///////////////////////////////////////////////////

  @mixin transition-elements() {
    ul, li, hr, .SharpLeftNav__title-container ,.SharpLeftNav__collapse-target, .SharpGlobalFilters {
      @content;
    }
  }

  &--collapseable {
    display: flex;
    flex-direction: column;
    width: $leftnav-width;
    transition: background-color 300ms ease-in-out, $transition-leftnav-collapse;

    @include transition-elements {
      opacity: 1;
    }

    .SharpLeftNav__list,  .SharpLeftNav__item-link {
      background-color: inherit;
    }

    .SharpLeftNav__item--expanded > .SharpLeftNav__item-link {
      color: $item-expanded-color!important;
    }

    .SharpLeftNav__collapse-button {
      position: absolute;
      bottom: .5rem;
      right: .5rem;
    }

    .SharpLeftNav__collapse-arrow {
      transform: rotate(0);
      fill: currentColor;
      height: 12px;
      width: 12px;
    }
  }

  &--collapsing, &--collapsed {
    .SharpLeftNav__content {
      box-shadow: none;
    }
    width: $leftnav-collapsed-width;
    transition: background-color 300ms ease-in-out, $transition-leftnav-collapse;
    cursor: pointer;
    background-color: hsla(var(--bs-primary-h), var(--bs-primary-s), 30%, .1);
    //background: $brand-01-light;

    &:hover, &:focus {
      background-color: hsla(var(--bs-primary-h), var(--bs-primary-s), 30%, .15);
    }

    @include transition-elements {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      overflow: hidden;
      white-space: nowrap;
    }

    .SharpLeftNav__collapse {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    .SharpLeftNav__collapse-arrow {
      transform: rotate(180deg);
      transition: transform 300ms ease-in-out;
    }

    .SharpLeftNav__top-icon {
      transition: opacity 300ms ease-in-out;
    }
  }

  &--collapsed {
    height: 100%;
    padding-top: 1.25rem;
    @include transition-elements {
      display: none;
    }

    .SharpLeftNav__collapse {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }

    .SharpLeftNav__top-icon {
      display: flex;
      opacity: 1;
    }
  }

  &--expanding {
    width: $leftnav-width;
    transition: width 300ms ease;
    background-color: #fff;

    .SharpLeftNav__content {
      box-shadow: none;
    }

    @include transition-elements {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
      overflow: hidden;
      white-space: nowrap;
    }

    .SharpLeftNav__collapse-arrow {
      transform: rotate(0deg);
      transition: transform 300ms ease-in-out;
    }

    .SharpLeftNav__top-icon {
      opacity: 0;
    }
  }

  &--expanded {
    .SharpLeftNav__top-icon {
      display:none;
    }
  }

  &--filter-opened {
    .SharpLeftNav__inner {
      overflow: hidden;
    }
  }
}
