
.SharpModal {
  &--error {
    .modal-header {
      border-top-color: $support-01;
    }
  }
}


.modal-title {
  font-size: 1.675rem;
  font-weight: 300;
  color: $text-02;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .7;
  transition: opacity 200ms;
}
