
.multiselect {
  display: flex;
  align-items: center;
  position: relative;

  $tags-margin: .375rem;

  ul {
    padding: 0;
    margin: 0;
  }

  padding-right: $form-control-clear-button-padding;

  .multiselect__placeholder {
    color: $text-03;
    margin-bottom:  $tags-margin;
  }

  .multiselect__select {
    display: none;
  }

  .multiselect__tags-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .multiselect__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -$tags-margin;

    cursor: default;

    .multiselect__input {
      border: none;
      display:inline-block;
      width: auto;
      height: auto;
      padding: 0;
      background: none;
      margin-bottom: $tags-margin;
      &:focus {
        outline: none;
      }
    }

    .multiselect__tag {
      position: relative;
      padding: 4px 24px 4px 8px;
      margin-top:0;
      margin-left: 0;
    }
  }

  .multiselect__input {
    box-shadow: none !important;
  }

  .multiselect__input, .multiselect__single {
    transition: border 0.1s ease;
  }

  .multiselect__single {
    margin-bottom: $tags-margin;
  }

  .multiselect__content {
    @extend .dropdown-menu;
    max-height: 20rem;
    width: 100%;
    overflow: auto;
    left: 0;
  }

  &__option {
    @extend .dropdown-item;
    cursor: pointer;

    &--selected {
      &, &:hover {
        @extend .dropdown-item.active;
      }
    }
    &--highlight {
      @extend .dropdown-item:hover;
    }
  }

  .multiselect__tag {
    @extend .SharpTag;
    margin-bottom: $tags-margin;
  }


  .multiselect__tag-icon {
    cursor: pointer;
    margin-left: 7px;
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
    font-weight: 500;
    font-style: initial;
    width: 22px;
    text-align: center;
    line-height: 18px;
    transition: all 0.2s ease;
    border-radius: 50%;
  }
  .multiselect__tag-icon:after {
    content: "×";
    font-size: 14px;
  }
  .multiselect__tag-icon:focus,
  .multiselect__tag-icon:hover {
    //background: rgba(0,0,0,.3);
  }
  .multiselect__tag-icon:focus:after,
  .multiselect__tag-icon:hover:after {
    //color: white;
  }

  .multiselect__spinner {
    right: 2px;
    width: 40px;
    &:after, &:before {
      border-color: $brand-01 transparent transparent;
    }
  }

  &.multiselect--active {
    @extend .form-control:focus;
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed !important;
    outline: none !important;
    pointer-events: none;
    .multiselect__tags {
      .multiselect__tag-icon {
        cursor: not-allowed !important;
      }
    }
  }

}

