
// keep for legacy code
.SharpNotification {
  @extend .alert;

  &--info {
    @extend .alert-info;
  }

  p {
    margin-bottom: 0;
  }
}

.notifications {
  animation-timing-function: ease-in-out;
}

.vue-notification-wrapper {
  overflow: visible!important;
}
