.popover {
  z-index: 80;
  box-shadow: $box-shadow;
  border-color: rgba(0,0,0,.1);
  max-width: none;

  .arrow {
    position: absolute;
    display: block;
    width: $popover-arrow-width;
    height: $popover-arrow-height;
    margin: 0 $border-radius-lg;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.popover-body {
  padding: .5rem .5rem;
}
