.SharpSearch {
  width: var(--width);
  transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  &__input {
    font-weight: bold;
    padding-right: 2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::placeholder {
      font-weight: 400;
    }
  }

  .input-group {
    border-radius: $input-border-radius-sm;
    background: white;
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
  }

  &--focused {
    width: var(--focused-width);
  }
}
