.SharpSearch {

  &__input {
    font-weight: bold;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &::placeholder {
      font-weight: 400;
    }
  }

  &__magnifier {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(50% - .5rem);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__magnifier {
    left: .75rem;
    fill: $ui-05;
  }
}
