.SharpSearch {
  &__input {
    font-weight: bold;
    padding-right: 2.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::placeholder {
      font-weight: 400;
    }
  }

  .input-group {
    border-radius: $input-border-radius-sm;
    background: var(--theme-bg);
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
  }

  &__button {
    @include media-breakpoint-up(md) {
      min-width: 4em;
    }
  }
}
