.SharpTabs {
  &__nav {
    position: relative;

    .nav-link {
      &:not(.active) {
        background: white;
      }
      &.is-invalid {
        @extend .error-dot;
      }
    }
    .nav-item {
      margin-right: 1px;
      &:not(:nth-child(2)) {
        .nav-link {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      &:not(:nth-last-child(2)) {
        .nav-link {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
