.SharpActionView {
  transition: padding 300ms $bx--standard-easing;
  padding-left: rem(48px);
  padding-bottom: 3rem;
  //overflow: auto;
}

@include media-breakpoint-up($breakpoint-fixed-menu) {
  .SharpActionView {
    padding-left: rem(200px);
    padding-top: 5rem;
    overflow: visible;
  }
  &.leftNav--collapsed {
    .SharpActionView {
      padding-left: rem(48px);
    }
  }
}