.SharpActionBar {
  margin-top: 1em;
  margin-bottom: 1em;

  //height: 2.5rem;

  .left, .right {
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }


  &__extras {
    display:flex;
    padding-top: .1rem;
  }

  &__actions-dropdown {
    align-self: stretch;
    min-width: 2rem;
    max-width: 2rem;
    .SharpDropdown__list {
      width: auto;
      right:0;
    }

    .SharpDropdown__text {
      border: none;
      height: 100%;
    }
    .SharpDropdown__arrow {
      right: .75rem;
    }

    .SharpDropdown__link {
      padding-right: 1rem;
      &:hover {
        @extend .SharpDropdown__link:focus;
      }
    }
  }


  .SharpFilterSelect {
    margin-left: .5em;
    &:first-child {
      margin: 0;
    }
  }

  &.SharpActionBarList {
    @include media-breakpoint-down(sm) {
      .col.left {
        flex: 0 !important;
      }
      .col.right {
        flex: 1 !important;
      }
    }
  }

  &__search.SharpSearch {
    .SharpSearch__close {
      right: 3.5rem;
    }
    @include media-breakpoint-down(sm) {
      .SharpSearch__close {
        display:none;
      }
      .SharpSearch__input {
        padding-right: 0;
      }
    }
  }
}
