@include media-breakpoint-up($breakpoint-fixed-menu) {
  .SharpActionBar {
    &__bar {
      transition: left 300ms $bx--standard-easing;
      position: fixed;
      top:0;
      right:0;
      left: rem(200px);
      z-index: z('actionBar');
    }
  }
  &.leftNav--collapsed {
    .SharpActionBar__bar {
      left: rem(48px);
      padding-left: 0;
    }
  }
}

.SharpActionBar {
  color: $inverse-01;
  margin-bottom: 1rem;

  .left, .right {
    display: flex;
    align-items: center;
    & > *:not(.text-content) {
      height: 100%
    }
    & > * {
      margin-left:.5rem;
    }
    & > *:first-child {
      margin-left:0;
    }
  }

  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }

  &__bar {
    display: flex;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background: $brand-01;
    height: 5rem;
    & > .container {
      height: 100%;
      & > .row {
        height: 100%;
        & > & .col {
          height: 100%;
        }
      }
    }
  }

  &__extras {
    display:flex;
    padding-top: 1rem;
    //flex-flow: row wrap;
    align-items: center;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      align-items: stretch;
    }

    .SharpFilterSelect {
      margin: 0 0 0 .5rem;
      @include media-breakpoint-down(sm) {
        margin: .5rem 0 0 0;
      }
      &:first-child {
        margin: 0;
      }
    }
  }

  %overflow-dropdown-list {
    .SharpDropdown__list {
      width: auto;
      right:0;
    }
  }

  .SharpDropdown__text {
    height: 100%;
  }

  &__actions-dropdown {
    align-self: stretch;
    //min-width: 2rem;
    //max-width: 2rem;

    @extend %overflow-dropdown-list;

    .SharpDropdown__text {
      //border: none;
    }

    .SharpDropdown__link {
      padding-right: 1rem;
    }

    &--commands {
      //width: 2.5rem;
      //min-width: 2.5rem;
      //max-width: 2.5rem;

      .SharpDropdown__text {
        //color: $brand-03;
        line-height:1;
      }

      @include nav-dropdown;
    }
  }

  &__forms-dropdown {
    width: auto;
    @include nav-dropdown;

    .SharpDropdown__text { z-index: auto }
    @extend %overflow-dropdown-list;

    &, .SharpDropdown__text {
      //background: $brand-03;
    }
    .SharpDropdown__text {
      &:hover {
        border-color: lighten($brand-03, 20%);
      }
      border-color: $brand-03;
      background: $brand-03;
      color: $inverse-01;
      font-weight: normal;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
    }
    &.SharpDropdown--open {
      .SharpDropdown__text {
        border-color: lighten($brand-03, 30%);
      }
    }
    .SharpDropdown__arrow {
      fill: $inverse-01;
    }
  }

  .SharpButton--secondary {
    &:hover, &:focus {
      background: darken($ui-01, 10%);
      color: $brand-01;
    }
  }
  .SharpButton--secondary-accent, .SharpButton--danger {
    border: 1px solid $ui-01;
  }

  .SharpButton {
    border-radius: $btn-border-radius;
    &:focus {
      outline: none;
    }
  }

  .SharpSearch__input {
    border-radius: $input-border-radius;
  }


  &.SharpActionBarList {
    @include media-breakpoint-down(sm) {
      .col.left {
        flex: 0 !important;
      }
      .col.right {
        flex: 1 !important;
      }
      &--search-active .SharpActionBar__bar{
        .SharpButton, .SharpDropdown {
          display: none;
        }
      }
    }
  }

  &__search.SharpSearch {

    .SharpSearch__close {
      right: .5rem;
    }
    .SharpSearch__input {
      box-shadow: unset;
      height: 100%;
      &:focus {
        box-shadow: 0 0 0 1px $brand-03;
      }
    }

    @include media-breakpoint-down(sm) {
      &.SharpSearch--active {
        width: 100%;
        .SharpSearch__input, .SharpSearch__magnifier {
          z-index: 101;
        }

        .SharpSearch__overlay {
          display:block;
        }
      }
      .SharpSearch__overlay {
        z-index: 100;
        position: fixed;
        left:0;
        top:0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.1);

        display: none;
      }
      .SharpSearch__close {
        display:none;
      }
      .SharpSearch__input {
        padding-right: 0;
      }
    }
  }
}
