.SharpAutocomplete {
  position: relative;
  font-size: 1rem;

  &__result-item {
    @extend .form-control;
  }

  &__close-btn-container {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    height: 100%;
    text-align: center;

    button.close {
      height: 100%;
      width: 100%;
      outline: none;
      span {
        vertical-align: super;
      }
    }
  }

  .multiselect {
    font-size: 1rem;
    .multiselect__tags {
      border-color: $input-border-color;
      border-radius: $input-border-radius;
      min-height: 0;
      padding: $input-padding-y $input-padding-x;
      padding-right: 40px;
    }

    &--active {
      .multiselect__tags {
        border-color: $input-border-focus;
      }
    }

    .multiselect__input {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      &::placeholder {
        color: $input-color-placeholder;
        opacity: 1;
      }
    }

    .multiselect__content {

      .multiselect__element {
        .multiselect__option {
          &--selected {
            color: $autocomplete-option-selected-color;
            background: $autocomplete-option-selected-bg;
            &:after {
              color: $autocomplete-option-selected-color;
              background: $autocomplete-option-selected-bg;
            }
          }

          &--highlight {
            color: $autocomplete-option-hover-color;
            background: $autocomplete-option-hover-bg;
            &:after {
              color: $autocomplete-option-hover-color;
              background: $autocomplete-option-hover-bg;
            }
          }
        }
      }

    }

    .multiselect__spinner {
      right: 2px;
      width: 40px;
      &:after, &:before {
        border-color:$brand-primary transparent transparent;
      }
    }

  }
}