@import "../mixins/left-nav";

.SharpLeftNav {
  @include reset;
  width: rem(250px);
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: $color__white;
  //border-right: 1px solid $color__gray-1;
  max-height: 100vh;

  z-index: z('leftNav');

  &__content {
    box-shadow: 2px 0 3px 0 $ui-03;
    overflow: auto;
  }

  &__title-container {
    padding: .75rem 1.5rem;
    background: $brand-01-light;
    display: flex;
    align-items: center;
    min-height: 5rem;
    z-index: 1;
  }

  &__title {
    @include font-size('16');
    text-transform: uppercase;
    letter-spacing: 0;
    color: $inverse-01;
  }

  &__top-icon {
    opacity: 0;
    color: $color__blue-51;
    position: absolute;
    right:0;
    left:0;
    .fa {
      text-align: center;
      width: 100%;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: $color__white;
    padding-top: 1rem;

    @include enhanced-item-border-and-spacing;
    @include enhanced-item-font-size;

    .SharpLeftNav__item {
      cursor: pointer;
      width: 100%;
      padding: 0;

      &:focus {
        outline: 1px solid transparent;

        &:not(.SharpLeftNav__item--disabled) {

          &:not(.SharpLeftNav__item--has-children) {
            background-color: $color__gray-2;
            //text-decoration: underline;
            color: $color__blue-51;
          }

          .SharpLeftNav__list--nested .SharpLeftNav__item-link {
            color: $color__blue-90;
            text-decoration: none;
          }
        }
      }

      &.SharpLeftNav__item--active {
        & > .SharpLeftNav__item-link {
          background-color: $color__gray-2;
          color: $color__blue-51;
          font-weight: 600;
        }
      }

      &-link {
        @include font-size('14');
        color: $color__blue-90;
        font-weight: 400;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        transition: background-color $transition--base;
        padding: .75rem 1.5rem .75rem rem(59px);

        & > span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
        }

        &:focus {
          outline: 1px solid transparent;
          background-color: $color__gray-2;
          color: $color__blue-51;
          //text-decoration: underline;
        }
      }

      &-icon {
        display: flex;

        .SharpLeftNav__icon {
          fill: $color__blue-51;
          width: rem(8px);
          height: rem(8px);
          transition: $transition--base;
        }
      }

      &--expanded {
        .SharpLeftNav__list--nested {
          max-height: 20rem;
          transition: $transition--base;
          overflow: inherit;
          opacity: 1;

          .SharpLeftNav__item {
            opacity: 1;
          }
        }

        & > .SharpLeftNav__item-link {
          color: $color__blue-51;
          font-weight: bold;
        }

        .SharpLeftNav__item-icon .SharpLeftNav__icon {
          transform: rotate(180deg);
        }
      }

      &:not(.SharpLeftNav__item--has-children):not(.SharpLeftNav__item--disabled):hover {
        & > .SharpLeftNav__item-link {
          background-color: $color__gray-2;
          color: $color__blue-51;
        }
      }

      &.SharpLeftNav__item--disabled {
        cursor: default;
      }
    }

    .SharpLeftNav__item--has-children {
      & > .SharpLeftNav__item-link {
        text-transform: uppercase;
      }

      .SharpLeftNav__item-link {
        padding-right: 1.5rem;
      }

      &:hover {
        & > .SharpLeftNav__item-link {
          //color: $color__blue-51;
        }
      }
    }
  }

  &__list--nested {
    max-height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
    padding: 0;
    opacity: 0;

    .SharpLeftNav__item {
      width: 100%;
      position: relative;
      padding: 0;
      transition: $transition--base;
      opacity: 0;

      &-link {
        @include font-size('14');
        color: $color__blue-90;
        padding: .75rem 1.35rem .75rem 4.5rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &:hover {
        outline: none;
      }

      &--active {
        color: $color__blue-51;
        background-color: $color__gray-2;

        & > .SharpLeftNav__item-link {
          font-weight: 600;
          color: $color__blue-51;
        }
      }
    }

  }

  // collapsed states
  ///////////////////////////////////////////////////

  @mixin transition-elements() {
    ul, li, hr, .SharpLeftNav__title-container ,.SharpLeftNav__collapse-target {
      @content;
    }
  }

  &--collapseable {
    display: flex;
    flex-direction: column;
    width: rem(200px);
    transition: background-color 300ms $bx--standard-easing, width 300ms $bx--standard-easing;

    @include transition-elements {
      opacity: 1;
    }

    .SharpLeftNav__list,  .SharpLeftNav__item-link {
      background-color: inherit;
    }

    .SharpLeftNav__item--expanded > .SharpLeftNav__list {
      padding-top: rem(6px);
      padding-bottom: rem(6px);
    }

    .SharpLeftNav__item--expanded > .SharpLeftNav__item-link {
      color: $color__blue-90;
    }

    .SharpLeftNav__line {
      margin: rem(24px) rem(20px);
      border: 1px solid $color__gray-1;
    }

    .SharpLeftNav__list {

      @include light-ui {
        background-color: inherit;
      }
    }

    .SharpLeftNav__item--active > .SharpLeftNav__item-link {
      position: relative;
      background-color: #fff;

      //&:before {
      //  top: 0;
      //  position: absolute;
      //  background-color: $color__blue-51;
      //  height: 100%;
      //  left: 0;
      //  width: 4px;
      //  content: '';
      //}
    }

    .SharpLeftNav__item {
      margin-bottom: rem(5px);
    }

    .SharpLeftNav__item-link, .SharpLeftNav__list--nested .SharpLeftNav__item-link {
      padding: rem(9px) rem(20px);
    }

    .SharpLeftNav__list--nested .SharpLeftNav__item-link {
      //font-size: rem(12px);
      //padding-left: rem(40px);
    }

    .SharpLeftNav__collapse {
      cursor: pointer;
      background-color: rgba($color__blue-51, .10);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: auto;
      //margin-bottom: rem(90px);
      padding: rem(14px) rem(16px);

      z-index:1;

      &:hover, &:focus {
        background-color: rgba($color__blue-51, .30);
      }
    }

    .SharpLeftNav__collapse-target {
      margin-left: rem(10px);
      margin-right: rem(10px);
    }

    .SharpLeftNav__collapse-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: rem(14px);
      padding: .25rem;

      &:focus {
        @include focus-outline('border');
      }
    }

    .SharpLeftNav__collapse-arrow {
      transform: rotate(0);
      fill: $color__blue-51;
      height: 12px;
      width: 12px;
    }
  }

  &--collapsing, &--collapsed {
    .SharpLeftNav__content {
      box-shadow: none;
    }
    width: rem(48px);
    transition: background-color 300ms $bx--standard-easing,
                width 300ms $bx--standard-easing;
    cursor: pointer;
    background-color: rgba($color__blue-51, .10);
    //background: $brand-01-light;

    &:hover, &:focus {
      background-color: rgba($color__blue-51, .30);
    }

    @include transition-elements {
      opacity: 0;
      transition: opacity 300ms $bx--standard-easing;
      overflow: hidden;
      white-space: nowrap;
    }

    .SharpLeftNav__collapse {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    .SharpLeftNav__collapse-arrow {
      transform: rotate(180deg);
      transition: transform 300ms $bx--standard-easing;
    }

    .SharpLeftNav__top-icon {
      transition: opacity 300ms $bx--standard-easing;
    }
  }

  &--collapsed {
    height: 100%;
    padding-top: rem(20px);
    @include transition-elements {
      display: none;
    }

    .SharpLeftNav__collapse {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }

    .SharpLeftNav__top-icon {
      display: flex;
      opacity: 1;
    }
  }

  &--expanding {
    width: rem(200px);
    transition: width 300ms $bx--standard-easing;
    background-color: #fff;

    .SharpLeftNav__content {
      box-shadow: none;
    }

    @include transition-elements {
      opacity: 1;
      transition: opacity 300ms $bx--standard-easing;
      overflow: hidden;
      white-space: nowrap;
    }

    .SharpLeftNav__collapse-arrow {
      transform: rotate(0deg);
      transition: transform 300ms $bx--standard-easing;
    }

    .SharpLeftNav__top-icon {
      opacity: 0;
    }
  }

  &--expanded {
    .SharpLeftNav__top-icon {
      display:none;
    }
  }
}