.SharpModal {
  &.SharpModal--error {
    .modal .modal-dialog {
      border-top: $support-01 4px solid;
    }
  }

  line-height: 1.5;

  .modal {
    @include reset;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z('hidden');
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0, .7);
    transition: opacity 200ms, z-index 0s 200ms, visibility 0s 200ms;
    visibility: hidden;

    //&.is-visible {
    &.show {
      z-index: z('modal');
      opacity: 1;
      transition: opacity 200ms;
      visibility: visible;
      overflow-y:auto;
    }


    // &__container {
    .modal-dialog {
      @include reset;
      //@include layer('pop-out');
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $ui-02;
      border-top: $brand-01 4px solid;
      //max-height: 100%;
      //height: 100%;
      padding: rem(32px) 3% 0rem 3%;

      outline: 2px solid white;

      width: 100%;
      max-width: 100%;
      margin: 0 1rem;

      @include media-breakpoint-up(sm) {
        width: 400px;
        max-width: 400px;
        margin: 0;
      }

      @include media-breakpoint-up(md) {
        width: 600px;
        max-width: 600px;
        padding: rem(44px) rem(48px) 0 rem(48px);
        margin: 0;
      }
    }


    //&__header {
    .modal-header {
      margin-bottom: rem(24px);
    }

    //&__content {
    .modal-body {
      margin-bottom: rem(24px);

      > * {
        @include reset;
      }
    }

    .modal-content {
      outline: none;
    }

    //&__footer {
    .modal-footer {
      margin-top: auto;
      text-align: right;
      background-color: $ui-01;
      margin-left: -3vw;
      margin-right: -3vw;
      padding: rem(24px) rem(24px);

      @include media-breakpoint-up(md) {
        margin-left: rem(-48px);
        margin-right: rem(-48px);
        //padding: rem(24px) rem(48px);
      }

      .btn {
        @extend .SharpButton;

        &-primary {
          @extend .SharpButton--primary;
        }
        &-secondary {
          @extend .SharpButton--secondary;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(16px);
    right: rem(16px);
    //padding: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: .25rem .25rem .125rem;

    &:focus {
      @include focus-outline('border');
    }
  }

  &__close-icon {
    transition: 200ms;
    fill: $ui-05;
    width: rem(12px);
    height: rem(12px);
  }

  &__label {
    @include reset;
    @include font-size('12');
    color: $text-01;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: rem(8px);
  }

  &__heading {
    //.modal-title {
    @include reset;
    @include font-size('26');
    font-weight: 300;
    color: $text-02;
  }
}