.SharpModal {
  line-height: 1.5;

  &.modal {
    //@include reset;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    outline: 0;
    overflow: hidden;
    display: none;

    &.fade {
      transition: opacity .15s linear;
    }

    &.show {
      z-index: z('modal');
      opacity: 1;
      visibility: visible;
      overflow-x: hidden;
      overflow-y: auto;
      display: none;
    }


    // &__container {
    .modal-dialog {
      //@include reset;
      position: relative;
      pointer-events: none;
      min-height: calc(100% - 1rem);
      margin: 1.75rem auto;
      width: auto;

      // centered
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        display: block;
        height: calc(100vh - 1rem);
      }

      //outline: 2px solid white;
      //
      //

      @include media-breakpoint-up(sm) {
        max-width: 400px;
        margin: 1.75rem auto;
        min-height: calc(100% - 3.5rem);
        &::before {
          height: calc(100% - 3.5rem);
        }
      }

      @include media-breakpoint-up(md) {
        max-width: 600px;
      }
    }

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      outline: 0;
      width: 100%;
      pointer-events: auto;
      background-color: $ui-02;
      border: 2px solid white;
    }

    .modal-header {
      border-top: $brand-01 4px solid;
      padding: 1.5rem 3rem 0;
    }

    .modal-body {
      padding: 1.5rem 3rem;
    }

    .modal-footer {
      text-align: right;
      background-color: $ui-01;
      padding: 1.5rem;

      .btn {
        @extend .SharpButton;

        margin-left: .5rem;

        &-primary {
          @extend .SharpButton--primary;
        }
        &-secondary {
          @extend .SharpButton--secondary;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    //padding: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: .25rem .25rem .125rem;

    &:focus {
      @include focus-outline('border');
    }
  }

  &__close-icon {
    transition: 200ms;
    fill: $ui-05;
    width: rem(12px);
    height: rem(12px);
  }

  &__label {
    @include reset;
    @include font-size('12');
    color: $text-01;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: rem(8px);
  }

  &__heading {
    //.modal-title {
    @include reset;
    @include font-size('26');
    font-weight: 300;
    color: $text-02;
  }

  &.SharpModal--error {
    .modal-header {
      border-top-color: $support-01;
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .7;
  transition: opacity 200ms;
}