.SharpList {
  &__empty-alert {
    opacity: .5;
  }

  &__add-button {
    position: relative;
  }

  &__sort-button {
    position: sticky;
    top: calc(var(--navbar-height) + .675rem);
    margin-top: .675rem;
    z-index: $zindex-field-header-sticky + 1;
    pointer-events: auto;
  }

  &__sticky-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__remove-button {
    position: absolute;
    top: .375rem;
    right: .25rem;
    padding: .5em;
    transition: opacity .25s ease-in-out;
    font-size: .75rem;
    z-index: 1;

    &:not(:hover):not(:focus) {
      opacity: .375;
    }
  }

  &__item {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    &:first-child {
      padding-top: 1.5rem;
    }

    &:not(:last-child) {
      border-bottom-style: dashed;
      border-bottom-color: rgba(0, 0, 0, 0.25);
    }

    .SharpGrid__row {
      &:first-child {
        .SharpForm__form-item--no-label {
          margin-top: 1rem;
        }
        > .SharpGrid__col:last-child {
          .SharpForm__label {
            margin-right: 1rem;
          }
        }
      }

      &--has-label:first-child {
        .SharpForm__form-item--no-label {
          margin-top: 0;
        }
      }

      &--has-locale-select:first-child {
        margin-top: .75rem;
      }
    }

    // adjust button size
    .btn-block {
      font-size: .75rem;
    }

    .btn-sm {
      font-size: .6875rem;
    }

    .SharpFieldLocaleSelect__btn {
      font-size: .625rem;
    }

    /// Contextual children modifiers
    .SharpForm__label {
      font-size: $form-label-font-size * .875;
    }

    .SharpField {
      .SharpClearButton:not(:focus) {
        opacity: 0;
      }
      &:hover {
        .SharpClearButton {
          opacity: 1;
        }
      }
    }

    .SharpSelect.SharpSelect--list {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    //@include module-contextual-close-button;
    ///

    .SharpList__overlay-handle {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 40;
      cursor: move;
    }

    &.sortable-chosen {
      box-shadow: $box-shadow;
    }

    &.expand-enter-active {
      transition: all 400ms;
    }

    &.expand-leave-active {
      transition: all 200ms;
    }

    &.expand-enter, &.expand-leave-to  {
      opacity: 0;
      transform: translateY(30px);
    }

    &--no-transition {
      transition: unset;
    }
  }

  &__new-item-zone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;

    &:hover  {
      button {
        opacity: 1;
      }
    }
    button {
      opacity: 0;
      transition: opacity .25s ease-in-out;
      &:focus {
        opacity: 1;
      }
    }
  }
}

.SharpForm__form-item--no-label .SharpList--can-sort {
  // if the list has no label put margin for the sort button
  margin-top: 1.5rem;
}
