.SharpAutocomplete {
  position: relative;
  font-size: 1rem;

  &--disabled {
    opacity: .5;
    cursor: not-allowed !important;
    outline: none !important;
    .SharpAutocomplete__result-item__close-button {
      pointer-events: none;
      cursor: not-allowed !important;
    }
  }

  &__result-item {
    @extend .SharpText;
    display: inline-flex !important;
    justify-content: space-between;
    align-items: center;
    &__close-button {
      @extend .SharpNotification__inline__close-button;
    }

    &__close-icon {
      @extend .SharpNotification__inline__close-icon;
    }
  }

  &__multiselect {
    &--hide-dropdown.multiselect--active {
      box-shadow: unset !important;
      .multiselect__tags {
        border: $input-border;
        @include focus-outline('border');
      }
      .multiselect__content {
        display: none;
      }
    }
  }

  &--remote {
    .multiselect__select {
      display: none;
    }

    .multiselect__tags {
      padding-right: $input-padding-x;
    }
  }

  .SharpLoading {
    position: absolute;
    right: 0;
    &__svg {
      stroke: $brand-01
    }
  }
}