.SharpAutocomplete {
  position: relative;
  font-size: 1rem;

  &--disabled {
    opacity: .5;
    cursor: not-allowed !important;
    outline: none !important;
    .SharpAutocomplete__result-item__close-button {
      pointer-events: none;
      cursor: not-allowed !important;
    }
  }

  &__result-item {
    @extend .SharpText;
    display: inline-flex !important;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: rem(9px);
    padding-bottom: rem(9px);
    padding-right: 2rem;
    min-height: rem(40px);

    &__close-button {
      @extend %select-close-button;
    }

    &__close-icon {
      @extend %select-close-icon;
    }
    .SharpTemplate {
      overflow:hidden;
      text-overflow: ellipsis;
    }
  }

  &__multiselect {
    &--hide-dropdown.multiselect--active {
      box-shadow: unset !important;
      .multiselect__tags {
        border: $input-border;
        @include focus-outline('border');
      }
      .multiselect__content {
        display: none;
      }
    }
    .multiselect__tags {
      padding-right: 2rem !important;
    }
    &.multiselect--active {
      .multiselect__input {
        width: 100%!important;
      }
    }
    .multiselect__option > .SharpTemplate {
      overflow:hidden;
      text-overflow: ellipsis;
    }
  }

  &--remote {
    .multiselect__select {
      display: none;
    }

    .multiselect__tags {
      padding-right: 1rem;
    }
  }

  .SharpLoading {
    position: absolute;
    right: 0;
    &__svg {
      stroke: $brand-01
    }
  }
}