

.SharpDate {
  position: relative;

  &__input {
    @extend .SharpText;
  }

  &__picker {
    position: absolute;
    z-index: 2;
    padding:1em;
    display:flex;
    background: #eee;

      .SharpDate__time {
        .dropdown {
          position:absolute;
          height:100%;
          top:0;
          .select-list {
            height:100%;
          }
        }
      }
    
  }
}