.SharpFieldContainer {
  position: relative;
  &__label-locale {
    text-transform: uppercase;
    background: $ui-01;
    border: 1px solid $ui-03;
    color: $text-02;
    border-radius: 5px;
  }
}