@import "../../mixins/fix-module-fields-margin";

.SharpForm {

  .close {
    font-weight: normal;
  }

  &__fieldset {
    @include reset;
    //margin-bottom: 2rem;

    @extend .SharpModule;
    @include fix-module-fields-margin;

    &>.SharpModule__inner {
      background: transparent;
      border: 0;
      @include layer('base');
      &>.SharpModule__header {
        padding: 0;
        .SharpModule__title {
          @extend .SharpForm__label;
        }
      }
      &>.SharpModule__content {
        background: $ui-03;
        @include layer('raised');
      }
    }
  }

  .SharpGrid__col--empty {
    display: none;
  }

  .SharpGrid__col:not(.SharpGrid__col--empty), &__form-item--row {
    margin-bottom: $form-item-margin-bottom;
  }

  &__form-item {
    flex: 1;
    height: 100%;
    //margin-right: 1rem;

    /*&:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }*/

    // For single check align with other field
    &--type-check {
      .SharpForm__label {
        &::after {
          content: "\a0\a0"
        }
      }
      .SharpCheck {
        height: 2.5rem;
      }
    }
  }

  &__label {
    @include reset;
    @include font-size('14');
    font-weight: $input-label-weight;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: rem(10px) !important;
    text-transform: uppercase;
  }

  &__label--disabled {
    opacity: .5;
  }

  &__form-item--danger {
    input, textarea, select, .SharpDropdown__text {
      //border-bottom: 2px solid $support-01;
    }
    .SharpForm__form-requirement {
      max-height: rem(200px);
      background: rgba($support-01, .1);
      margin: 0;
      padding: .5rem 1rem;
    }
  }


  &__form-requirement {
    @include reset;
    @include font-size('11');
    margin: .75rem 0 0;
    max-height: 0;
    overflow: hidden;
    font-weight: 700;
    line-height: 1.5;

    &:empty {
      display:none;
    }

    &::before {
      content: '*';
      display: inline-block;
      color: $support-01;
    }
  }

  &__help-message {
    @include font-size('11');
    margin: .75rem 0 0;
    line-height: 1.5;
  }

  /// reset multiselect new Design
  .multiselect__tags {
    border-radius: 0;
    border: none;
  }

  .multiselect__option:not(:hover):not(.multiselect__option--selected):not(.multiselect__option--highlighted)
  {
      background: white!important;
  }
}