.SharpList {

  &__empty-alert {
    opacity: .5;
  }

  &__add-button {
    width:100%;
  }
  &__sort-button {
    position:absolute;
    right:0;
    top:0;
    z-index:1;
  }

  //remove item button
  .SharpButton--danger {
    align-self: center;
  }

  &__item {
    @extend .SharpModule;
    padding: 0;
    border-bottom: 1px solid $ui-02;
    position: relative;

    .SharpForm--label {
      @include font-size('12');
    }

    .SharpUpload {
      &__inner {
        box-shadow: none !important;
      }
      &__content {
        padding: 0 !important;
      }

      &__remove-button {
        display: none;
      }

      &__close-button {
        display: initial;
      }

    }

    &:last-of-type {
      padding-bottom: rem(10px);
    }

    &.expand-enter-active {
      transition: all 400ms;
    }

    &.expand-leave-active {
      transition: all 200ms;
    }

    &.expand-enter, &.expand-leave-to  {
      opacity: 0;
      transform: translateY(30px);
    }

    &--collapsed {
      background: #f5f5f5;
    }

    &--no-transition {
      transition: unset;
    }
  }

  &__new-item-zone {
    &:hover {
      opacity: 1;
    }
    opacity: 0;
    z-index:3;
    position:absolute;
    //background: rgba(255,0,0,0.3);
    height:2rem;
    margin-bottom:-1rem;
    bottom:0;
    left:0;
    right:0;
    text-align: left;
    button {
      margin-left:-.95rem;
    }
  }
}