@import "../../mixins/fix-module-fields-margin";

.SharpList {
  &__empty-alert {
    opacity: .5;
  }

  &__add-button {
    width:100%;
  }

  &__sort-button {
    position:absolute;
    right:0;
    top:0;
    z-index:1;
    padding: 0;
    height:auto;
    background: $ui-02 !important;

    &:before {
      content: attr(data-inactive-text);
    }

    @mixin colorize($color) {
      color: $color;
      .SharpButton__icon {
        fill: $color;
      }
    }

    &:focus {
      @include colorize($brand-01);
      outline: 1px solid transparent;
    }

    &:hover {
      @include colorize($brand-02);
    }


    &.SharpButton--active {
      @include colorize($brand-03);
      &:before {
        content: attr(data-active-text);
      }
    }
  }

  //remove item button
  .SharpButton--danger {
    align-self: center;
  }

  &__item {
    @extend .SharpModule;

    @include fix-module-fields-margin;

    padding: 0;
    margin-bottom: 4px;
    position: relative;

    /// Contextual children modifiers
    .SharpForm--label {
      @include font-size('12');
    }

    .SharpUpload {
      &__inner {
        box-shadow: none !important;
      }
      &__content {
        //padding: 0 !important;
      }

      &__remove-button {
        display: none;
      }

      &__close-button {
        display: initial;
      }

    }

    ///

    .SharpList__overlay-handle {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: z('listItemOverlay');
      cursor: move;
    }

    &.sortable-chosen {
      @include focus-outline('border');
    }

    &:last-of-type {
      margin-bottom: rem(10px);
    }

    &.expand-enter-active {
      transition: all 400ms;
    }

    &.expand-leave-active {
      transition: all 200ms;
    }

    &.expand-enter, &.expand-leave-to  {
      opacity: 0;
      transform: translateY(30px);
    }

    &--no-transition {
      transition: unset;
    }
  }

  &__new-item-zone {
    z-index:3;
    position:absolute;
    //background: rgba(255,0,0,0.3);
    height:2rem;
    margin-bottom:-1rem;
    bottom:0;
    left:0;
    right:0;
    text-align: left;

    &:hover  {
      button {
        opacity: 1;
      }
    }
    button {
      opacity: 0;
      margin-left:-.95rem;
      &:focus {
        opacity: 1;
      }
    }
  }

}