.SharpList {
  position:relative;
  &__add-button {
    width:100%;
    &--no-transition {
      transition: unset;
    }
    transition: all 300ms;
  }

  &__item {
    &.expand-enter-active {
      transition: all 400ms;
    }

    &.expand-leave-active {
      transition: all 200ms;
    }

    &.expand-enter, &.expand-leave-to  {
      opacity: 0;
      transform: translateY(30px);
    }

    &--collapsed {
      background: #f5f5f5;
    }

    &--no-transition {
      transition: unset;
    }
  }

  &__new-item-zone {
    &:hover {
      opacity: 1;
    }
    opacity: 0;
    z-index:3;
    position:absolute;
    //background: rgba(255,0,0,0.3);
    height:2em;
    margin-bottom:-1em;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    button {
      padding-top:0;
      padding-bottom: 0;
      height:2em;
    }
  }
}