.SharpList {
  position:relative;
  &__add-button {
    width:100%
  }
  &__item {
    transition: all 600ms;
    &--collapsed {
      background: #f5f5f5;
    }
  }

  &__new-item-zone {
    &:hover {
      opacity: 1;
    }
    opacity: 0;
    z-index:3;
    position:absolute;
    //background: rgba(255,0,0,0.3);
    height:2em;
    margin-bottom:-1em;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    button {
      padding-top:0;
      padding-bottom: 0;
      height:2em;
    }
  }
}