@import '../Module';

.SharpMarkdown {
  @extend .SharpModule;
  @extend .SharpModule__inner;

  padding:0 !important;

  .editor-toolbar {
    @extend .SharpModule__header;
    border: none;
    border-radius: 0;
  }

  .CodeMirror {
    @extend .SharpModule__content;
    border: none;
    border-radius: 0;
  }

}