.SharpMarkdown {
  @extend .SharpModule;
  position: relative;
  z-index : z('markdown');

  .editor-toolbar {
    @extend .SharpModule__header;
    border: none;
    border-radius: 0;
  }

  &--read-only {
    .CodeMirror {
      opacity: 0.8;
    }
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }

  .CodeMirror {
    @extend .SharpModule__content;
    border: none;
    border-radius: 0;
    padding: 1rem !important;
    line-height: 1.4;
  }
}