.multiselect--active {
  .multiselect__tags {
    border-color: $input-border-focus;
  }
}

.multiselect__tags {
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  min-height: 0;
  padding: $input-padding-y 40px 0 $input-padding-x;
}

.multiselect__input {
  font-family: sans-serif;
  padding: 0;
  margin-bottom: $input-padding-y;
  font-size: $font-size-base;
  &::placeholder {
    color: $input-color-placeholder;
    opacity: 1;
  }
}

.multiselect__content {
  .multiselect__option {
    font-size: $font-size-base;
    &:after {
      display: none;
    }
    &--highlight, &--highlight:after {
      color: $dropdown-link-hover-color;
      background: $dropdown-link-hover-bg;
    }
  }
}

.multiselect__single {
  font-size: $font-size-base;
  margin-bottom: $input-padding-y;
}

.multiselect__tag:last-child {
  margin-bottom:0;
}

.multiselect__spinner {
  right: 2px;
  width: 40px;
  &:after, &:before {
    border-color:$brand-primary transparent transparent;
  }
}