.SharpSelect {
  &__remove-btn {
    position: absolute;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    text-align: center;

    &:after {
      content:"×";
    }
  }

  &__radio-button-group {
    display: flex;
    align-items: center;
    margin-top: rem(6px);
  }

  &--multiple {
    .multiselect__tags {
      padding-bottom: rem(9px) - .1875rem;
    }
  }
}