.SharpSelect {

  &--list {
    background: $ui-03;
    padding: 1rem;
  }

  &__clear-button {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    right:0;
    height: 100%;
    @extend .SharpNotification__inline__close-button;

    &-icon {
      position: initial;
      @extend .SharpNotification__inline__close-icon;
    }
  }

  &__radio-button-group {
    display: flex;
    align-items: center;
    margin-top: rem(6px);

    &--block {
      display: block;
    }
  }

  .SharpCheck {
    margin-top: .3rem;
    &:first-child {
      margin-top: 0;
    }
  }

  &--multiple {
    .multiselect__tags {
      padding-bottom: rem(9px) - .1875rem;
    }
  }
}