.SharpText {
  @include reset;
  @include font-size('14');
  display: block;
  width: 100%;
  height: rem(40px);
  //min-width: 10rem;
  padding: 0 1rem;
  color: $text-01;
  background-color: $field-01;
  border: $input-border;

  &::-webkit-input-placeholder {
    @include placeholder-colors;
  }

  &:focus {
    @include focus-outline('border');
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
    outline: none !important;
  }

  &:disabled:hover {
    border: $input-border;
  }
}