.SharpTrix {
  @extend .SharpModule;
  .editor-toolbar {
    border: none;
    border-radius: 0;
    &:before { margin:0 }
    &:after { margin:0 }
    padding:0;

    opacity: .8;

    &:hover {
      opacity: 1;
    }

    button {
      display: inline-block;
      text-align: center;
      text-decoration: none!important;
      color: #2c3e50!important;
      width: 30px;
      height: 30px;
      margin: 0;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      background: none;
      &:hover {
        background: #fcfcfc;
        border-color: #95a5a6;
      }
      &[disabled] {
        opacity: .4;
        pointer-events: none;
      }
    }
  }

  .separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
  }

  trix-toolbar {
    display: block!important;
  }

  trix-editor {
    overflow: auto;
    border:none;
    border-radius: 0;
    background: white;
    padding: 1rem !important;
    min-height: 0 !important;
    line-height: 1.5;
    @include font-size('14');
  }

  h1 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: .5rem;
    line-height: 1.5;
    &:first-child {
      margin: 0;
    }
  }



  pre {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.875em;
    margin: 0;
    padding: 1rem;
    background: rgba(0,0,0,0.05);
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
  }

  ul, ol {
    padding-left: 1rem;
    ul, ol {
      padding-left: 1rem;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  blockquote {
    border-left: 3px solid #000;
    margin: 0;
    padding: 0 0 0 1em;
  }

  .attachment {
    position: relative;

    &__remove {
      position: absolute;
      z-index: 4;
      top: -3.4rem;
      left: 50%;
      margin: 0 0 0 -1.5rem;
      width: 3rem;
      height: 3rem;
      border: 0;
      border-radius: 5px;
      background: #1b6ac9;
      text-indent: 0;
      color: transparent;

      &:before {
        background: none !important;
        content: "\f1f8";
        font-family: FontAwesome;
        color: white;
        opacity: 1;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      &:after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        height: 0;
        width: 0;
        border: 6px solid rgba(255,255,255,0);
        border-top-color: #1b6ac9;
        margin-left: -6px;
        pointer-events: none;
      }
    }
  }
}


