

.SharpFilterSelect {
  display: flex;
  border-radius: $input-border-radius;
  position: relative;

  $list-offset: $dropdown-list-offset + 2px;
  $search-input-height: 2.5rem;

  .form-control {
    font-size: inherit;
    padding-right: 1.5rem;
  }

  .multiselect__tags-wrap {
    margin-left: -8px;
    margin-bottom: 0;
  }

  &--open {
    .form-control {
      @extend .form-control:focus;
    }

    .multiselect {
      @extend .multiselect--active;
    }
  }

  .multiselect__placeholder {
    &::before { content: '\200B' }
  }

  &--searchable {
    &.SharpFilterSelect--open {
      .SharpAutocomplete .multiselect__tags {
        width: 10rem;
        padding: 0 1rem;
        top: 100%;
        left: 0;
        margin-top: $list-offset;
        border-radius: $btn-border-radius;
        z-index: $zindex-dropdown + 1;
      }
      .SharpAutocomplete .multiselect__input {
        height: $search-input-height;
      }
    }
    .SharpAutocomplete .multiselect__content {
      border-top: $search-input-height solid white !important;
    }
  }

  .SharpAutocomplete {
    .multiselect__tags {
      position: absolute;
      padding: 0;
      width: 0;
      height: 0!important;
      transition: none;
    }
    .multiselect__input {
      transition: none;
    }
    .multiselect__tags-wrap,
    .multiselect__single,
    .multiselect__placeholder {
      display:none;
    }
    .multiselect__content {
      top: 100%;
      margin-top: $list-offset;
    }
    .SharpClearButton {
      display: none;
    }
  }
  .SharpSelect {
    width: 100%;
    .multiselect__content {
      display:none!important;
    }
    .multiselect {
      box-shadow: none!important;
    }
  }

  &__select {
    position: static;

    .multiselect {
      position: static;
      background: none;

      &__content {
        left: 0;
        min-width: 10rem;
      }

      &__tag {
        background: $ui-01;
        height: auto;
        font-weight: bold;

        margin-bottom: 0;
        padding-right: 23px!important;

        &:not(:first-child){
          border-left: 1px solid $ui-03;
        }
        &:last-child {
          margin:0;
        }

        &-icon {
          color: var(--filter-close-icon-color);
          &::after {
            color: inherit;
            font-weight: normal;
            font-size: 1rem;
          }
        }
      }

      &__single {
        font-weight: bold;
      }

      &__tags {
        line-height: 1;
        box-shadow: none;
        border: none;
        min-height: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: default;
      }

      &__tags-wrap {
        @include media-breakpoint-down(sm) {
          display: flex;
          flex-flow:column;
          align-items: flex-start;
        }
      }

      &:focus {
        outline: 1px solid transparent;
      }

      &.multiselect--active {
        box-shadow: unset;
      }
    }

    .SharpSelect__clear-button {
      width: 1.5rem;
    }
  }
}
