
.SharpFilterDateRange {
  &__field {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .25rem;
    padding-right: 0;
    max-width: 220px;
  }

  .el-input__icon:first-child {
    display: none;
  }
  .el-range-input {
    color: $text-01;
    width: 50%;
    font-weight: bold;
    font-size: 13px;
  }
  .el-range-separator {
    color: $text-01;
    padding: 0;
  }

  .el-range__close-icon {
    color: $brand-03;
    line-height: 28px;
    width: 2rem;
  }

  &--empty {
    .SharpFilterDateRange__field {
      & > * {
        display: none;
      }
    }
  }
}
