@import '~sharp-ui/scss/mixins/dropdown';

.SharpFilterControl {
  font-size: .875rem;
  display: flex;
  flex-wrap: nowrap;
  color: $text-01;
  background: white;
  width: auto;
  border: $dropdown-border;
  border-radius: $btn-border-radius;
  transition: $dropdown-btn-transition;

  &:hover {
    border-color: $dropdown-hover-border-color;
  }

  &__text {
    display: flex;
    min-height: 100%;
    align-items: center;
    padding-left: 1rem;
    position: relative;
    background: $ui-01;
    z-index: z('dropdownText');
    cursor: default;
    white-space: nowrap;
  }
  &__caret-container {
    width: 2rem;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
  &__caret {
    transition: transform $transition--base ease-in-out;
    transform-origin: 50% 45%;
  }

  &--open {
    border-color: $dropdown-focus-border-color!important;
    .SharpFilterControl__caret {
      @include SharpDropdownOpenArrow;
    }
  }
}
