
.SharpFilterDateRange {
  &__field {
    max-width: 220px;
  }

  .form-control {
    &:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.clearable {
      padding-right: 1.5rem;
    }
  }
}
