
.SharpFilterControl {
  font-size: .875rem;
  min-height: 1.9375rem;
  --filter-value-color: hsl(var(--primary-h), var(--primary-s), 35%);

  .form-select {
    padding-right: 1.5rem;
    background-position: right 0.25rem center;
  }
  .input-group-text {
    cursor: default;
  }
  .SharpClearButton {
    width: 1.75rem;
  }

  > :not(:first-child) {
    border-left: 0;
  }
}
