

.SharpGlobalFilters {
  $primary: hsl(var(--bs-primary-h), var(--bs-primary-s), var(--accent-bg-l));
  $border-color: $ui-03;

  --color-l: calc((var(--accent-bg-l) - var(--l-threshold) + var(--accent-bg-amount)) * -100000);

  .form-control {
    padding: 0;
  }

  .SharpSelect,
  .SharpFilterSelect,
  .SharpFilterControl {
    border-radius: 0;
    border: 0;
  }

  .SharpFilterControl {
    width: 100%;
    border-top: 1px solid $border-color!important;
    &__text {
      display: none;
    }
  }
  .SharpFilterSelect {
    &--open {
      .SharpSelect .multiselect__tags {
        //box-shadow: 0 2px 4px darken($primary, 10%);
      }
    }
    &--searchable {
      .SharpAutocomplete .multiselect__content {
        padding-top: 3.5rem;
      }
    }
  }
  .multiselect {
    color: hsl(0, 0%, var(--color-l));
    background-color: $primary;

    &__single {
      font-weight: normal;
      padding-left: 0;
    }
    &__select {
      fill: currentColor;
    }
    &__tags {
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 1.25rem;
      padding-right: 1.5rem;
      border-radius: 0;
      cursor: pointer;
      line-height: 1.3;
    }
  }
  .SharpAutocomplete {
    --input-color: hsla(var(--bs-primary-h), var(--bs-primary-s), var(--color-l), .75);

    .multiselect__tags {
      margin: .5rem 1rem 0 1rem !important;
      height: 2rem!important;
      padding: 0!important;
      width: calc(100% - 2rem)!important;
      border-bottom: 2px solid var(--input-color);
      border-radius: 0!important;
    }
    .multiselect__input {
      color: hsl(0, 0%, var(--color-l));
      &::placeholder {
        color: var(--input-color);
      }
    }
    .multiselect__content-wrapper {
      max-height: none;
    }
    .multiselect__content {
      margin-top: 0;
      width: 100%;
      border-radius: 0;
      padding-top: .25rem;
      box-shadow: none!important;
      border: none!important;
      background: $primary;
      max-height: none;
    }
    .multiselect__option {
      background: $primary!important;
      color: hsla(0, 0%, var(--color-l), .675);
      &--selected, &:hover {
        color: hsl(0, 0%, var(--color-l));
        background: hsla(var(--bs-primary-h), var(--bs-primary-s), var(--color-l), .15)!important;
        font-weight: normal!important;
      }
    }
  }
}
