@import 'tailwindcss' source(none);
@import 'tw-animate-css';
@import './fonts.css';
@import './shadcn.css';
@import './shadcn-overrides.css';
@import './content.css';
@import './nprogress.css';

@source '../views/**/*.blade.php';
@source '../js/**/*.vue';
@source '../js/components/ui/**/*.ts';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-l-xl: 0 0px 25px -5px rgb(0 0 0 / 0.1), 0 0px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-b-md: 0 5px 20px -8px rgb(0 0 0 / 0.1), 0 6px 3px -6px rgb(0 0 0 / 0.1);
  --font-sans: 'geist-sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  [type="search"]::-webkit-search-decoration,
  [type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

  /* disabling scroll padding top because it changes scroll position when hovering a select */
  /*html {*/
  /*  &:not(*/
  /*    :has([data-stuck]:focus-within),*/
  /*    :has(header:focus-within),*/
  /*    :has(:is([role="menu"],[role="dialog"]):focus-within)*/
  /*  ) {*/
  /*    @apply scroll-pt-36;*/
  /*  }*/
  /*}*/

  body {
    overflow-y: scroll;
  }

  tr.relative {
    transform: scale(100%);
    clip-path: inset(0);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .dark {
    color-scheme: dark;
  }
}

@utility container {
  @apply mx-auto px-4 lg:px-6 2xl:max-w-[90rem];
}

@layer utilities {
  /* tailwindcss-animate allow to set animation duration with "duration-" classes but it clashes with items in TransitionGroup */
  [class*="transition"] {
    animation-duration: 0s;
  }
}
