@import "./fonts.css";
@import "./shadcn.css";
@import "./shadcn-overrides.css";
@import "./content.css";
@import "./nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="search"]::-webkit-search-decoration,
  [type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

  html {
    &:not(:has([data-stuck]:focus-within),:has(header:focus-within)) {
      @apply scroll-pt-36;
    }
  }

  body {
    overflow-y: scroll;
  }

  tr.relative {
    transform: scale(100%);
    clip-path: inset(0);
  }

  .dark {
    color-scheme: dark;
  }
}

@layer components {
  .container {
    @apply px-4 lg:px-6;
  }
}

@layer utilities {
  /* tailwindcss-animate allow to set animation duration with "duration-" classes but it clashes with items in TransitionGroup */
  [class*="transition"] {
    animation-duration: 0s;
  }
}
