
@layer components {
  .content {
    > :where(h1) {
      @apply mb-3 text-xl font-semibold tracking-tight border-b pb-0.5;
    }
    > :where(h2) {
      @apply mb-2 text-lg font-semibold tracking-tight;
    }
    > :where(h3) {
      @apply mb-1.5 text-sm font-semibold tracking-tight;
    }
    > :where(h4, h5, h6) {
      @apply mb-1 font-semibold;
    }
    > :where(p) {
      @apply mb-4;
    }
    > :where(ul) {
      @apply mb-4 ml-6 list-disc [&>li]:mt-2;
    }
    > :where(ol) {
      @apply mb-4 ml-6 list-decimal [&>li]:mt-2;
    }
    > :where(blockquote) {
      @apply mb-4 relative flow-root pl-4 border-l-2 before:block before:-mt-0.5;
      > :where(p,ul,ol) {
        @apply mt-2;
      }
      > :where(:first-child) {
        @apply mt-0;
      }
      > :where(:last-child) {
        @apply mb-0;
      }
    }
    > :where(table) {
      @apply mb-4 w-full;
      :where(tr) {
        @apply m-0 border-t p-0 even:bg-muted;
      }
      :where(th) {
        @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
      }
      :where(td) {
        @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
      }
    }
    :where(code) {
      @apply rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm;
    }
    > :where(pre) {
      @apply mb-4 !whitespace-pre overflow-x-auto;
      > :where(code) {
          @apply block py-2 px-4 bg-muted rounded-md [font-size:inherit];
      }
    }
    > :where(hr) {
      @apply mb-4;
    }
    :where(a:not([style],[class])) {
      @apply relative p-1.5 -m-1.5 text-primary underline underline-offset-4 decoration-primary/20 hover:decoration-inherit;
    }
    :where(strong) {
      @apply font-[650];
    }
    > :where(:first-child) {
      @apply mt-0;
    }
    > :where(:last-child) {
      @apply mb-0;
    }
  }
  .content-sm {
  }
}
