

@layer base {
    :root {
        /*--primary-oklch: from var(--primary-hsl) .21 .04 h; !* default levels *!*/
        --primary-oklch: from var(--sharp-config-primary) 0.3 0.1 h;
        /*--muted-oklch: from var(--primary-hsl) .97 0 h; !* default levels *!*/
        --muted-oklch: from var(--sharp-config-primary) 0.97 0.005 h;
        /*--muted-foreground-oklch: from var(--primary-hsl) .55 .01 h; !* default levels *!*/
        --muted-foreground-oklch: from var(--sharp-config-primary) 0.55 0.03 h;
    }

    .dark {
        /** TODO */
    }
}
