.ShowEntityListField {
  &__label {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0;
  }
  .SharpDataList__table {
    border: 0;
  }
  .SharpDataList__row-append {
    width: 5.5rem;
  }
  &__action-bar {
    .action-bar__element, .SharpButton {
      height: 2rem;
    }
    .action-bar__row {
      @extend .mx-n1;
      @extend .mx-sm-n2;
    }
    .action-bar__col {
      @extend .px-1;
      @extend .px-sm-2;
    }
    .SharpButton--secondary-accent {
      border-color: $ui-04;
    }
  }
}