
.ShowEntityListField {
  --global-message-margin-top: .5rem;
  --global-message-margin-bottom: 1.5rem;
  --entity-list-title-info-opacity: .5;
  --entity-list-title-font-size: .75rem;

  .SharpDataList__table {
    border: 0;
  }
  .SharpPagination {
    margin-top: 1.5rem;
  }

  &__action-bar {
    .SharpButton--secondary-accent {
      border-color: $ui-04;
    }
  }

  &--collapsed {
    .SharpDataList {
      display: none;
    }
  }
}
