.ShowEntityListField {
  .SharpDataList__table {
    border: 0;
    margin-bottom: 0;
  }
  &__action-bar {
    .action-bar__row {
      min-height: 2.5rem;
      .action-bar__row {
        min-height: auto;
      }
    }
    .SharpButton--secondary-accent {
      border-color: $ui-04;
    }
  }

  &--collapsed {
    .SharpDataList {
      display: none;
    }
  }
}
