
.ShowFileField {
  &__name {
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
  }
  &__size {
    font-size: .875em;
  }
  &__download-container {
    &::before {
      content: "";
      height: 20%;
      max-height: calc(100% - 2.4em);
      display: block;
    }
  }
  &__download-button {
    padding: .25em 1em;
    line-height: 1.75;
    font-size: .75em;
    height: auto;
  }

  &__thumbnail-col {
    max-width: 125px;
    &--collapsed {
      flex: 0 0 auto;
      width: auto;
    }
  }
  &__thumbnail-container {
     display: flex;
     align-items: center;
     justify-content: center;
   }
  &__thumbnail {
    display: block;
    max-width: 100%;
  }

  &__placeholder {
    color: rgba(0,0,0,.25);
    font-size: 3rem;
  }
}