
.ShowFileField {

  .show-field__content {
    font-size: var(--file-font-size, 1em);
  }

  &__name {
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
  }
  &__info {
    font-size: .75em;
  }
  &__download-container {
    &::before {
      content: "";
      height: calc(50% - 2em);
      max-height: calc(100% - 2.4em);
      display: block;
    }
  }
  &__download-button {
    padding: .25em 1em;
    line-height: 1.75;
    font-size: .75em;
    height: auto;
  }

  &__thumbnail-col {
    max-width: 125px;
    &--collapsed {
      flex: 0 0 auto;
      width: auto;
    }
  }
  &__thumbnail-container {
     display: flex;
     align-items: center;
     justify-content: center;
   }
  &__thumbnail {
    display: block;
    max-width: 100%;
  }

  &__placeholder {
    color: rgba(0,0,0,.25);
    font-size: 3rem;
    line-height: 1;
  }

  &--root {
    --file-font-size: .875em;
    .show-field__content {
      padding-bottom: .5rem;
    }
  }

  &--has-label {
    .ShowFileField__name {
      font-weight: 400;
    }
  }

  &--has-placeholder {
    .ShowFileField__name {
      margin-top: .25rem;
    }
  }
}
