
.ShowSection {
  &__grid {
    margin-bottom: -2rem;
  }

  &__col {
    margin-bottom: 2rem;
  }

  &--layout-card {
    .ShowSection__content {
      background: white;
      padding: 1rem 1.25rem;
    }
  }
}
