
.ShowSection {
  summary {
    cursor: pointer;
    user-select: none;
    transition: background-color .125s ease-in-out;
    line-height: 1.2;
    &:hover, &:focus-visible {
      background-color: rgba(0,0,0,.075);
    }
    &:focus:not(:focus-visible) {
      outline: 0;
    }
  }

  &__title {
    @extend .ui-font;
    font-size: $ui-font-size + .125rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: 0;
  }

  &__grid {
    margin-bottom: -2rem;
  }

  &__col {
    margin-bottom: 2rem;
  }

  &--layout-card {
    .ShowSection__content {
      background: white;
      padding: 1rem 1.25rem;
    }
  }
}
