html {
  height: 100%;
}

body {
  min-height:  100%;
}

body {
  background-color: $ui-02;
  color: $text-01;
  font-family: $font-family-base;
}

a {
  color: $link-color;
}

small {
  font-size: smaller;
}

@import 'pages/LoginPage';
