strong, .bx--type-strong {
  @include reset;
  font-weight: 700;
}

p {
  @include reset;
  @include font-size('16');
  @include line-height('body');
}

em {
  @include reset;
  font-style: italic;
}

a {
  @include reset;
  color: $brand-01;
}

h1, .bx--type-alpha {
  @include reset;
  @include font-size('32');
  @include line-height('heading');
  @include letter-spacing;
}

h2, .bx--type-beta {
  @include reset;
  @include font-size('26');
  @include line-height('heading');
  @include letter-spacing;
}

h3, .bx--type-gamma {
  @include reset;
  @include font-size('20');
  @include line-height('heading');
  @include letter-spacing;
}

h4, .bx--type-delta {
  @include reset;
  @include font-size('18');
  @include line-height('heading');
}

h5, .bx--type-epsilon {
  @include reset;
  @include font-size('16');
  @include line-height('heading');
}

h6, .bx--type-zeta {
  @include reset;
  @include font-size('14');
  @include line-height('heading');
}

