


$brand-01: #314255;
$brand-02: #5596e6;
$ui-01: #FFFFFF;
$ui-02: #EBF0F7;
$ui-03: #DAE3EE;
$ui-04: #dfe3e6;
$ui-05: #8c9ba5;
$field-01: #FFFFFF;
$text-03: #8c9ba5;

$brand-01-light: #68829E;


$ui-primary-color: hsl(var(--primary-h), var(--primary-s), 20%);
$ui-font-size: 1.125rem;
$ui-title-font-weight: 600;

$bx--standard-easing: cubic-bezier(0.5, 0, 0.1, 1);

/**
  Bootstrap variables
**/

$primary: #004c9b;
$info: #5aaafa;
$success: #3dc322;

$body-bg-hsl: hsl(var(--primary-h), 20%, 95%); // we're not using $body-bg because it breaks bootstrap function
$body-color: #152935;

$enable-negative-margins: true;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  "4\\.5": $spacer * 2,
  5: $spacer * 3,
);

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * .875,
  8: $font-size-base * .75,
);

$transition-collapse: height 300ms cubic-bezier(0.5, 0, 0.1, 1);

$border-radius: .25rem;
$box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);

$alert-padding-y: .75rem;

$btn-border-radius: $border-radius;
$btn-border-width: 1px;
$btn-font-weight: 500;
$btn-font-size-sm: .875rem;
$btn-font-size: .9375rem;
$btn-font-size-lg: 1rem;
$btn-line-height: 1.45;


$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-margin-bottom: 0;

$caret-width: .3em;
$caret-spacing: $caret-width * 1.5;
$caret-vertical-align: .15em;

$dropdown-min-width: 10rem;
$dropdown-font-size: .875rem;
$dropdown-border-color: rgba(0,0,0,.075);

$dropdown-item-padding-y: .375rem;
$dropdown-link-color: $ui-primary-color;
$dropdown-link-hover-color: $ui-primary-color;
$dropdown-link-disabled-color: hsla(var(--primary-h), var(--primary-s), 20%, .65);

$link-color: hsl(var(--primary-h), var(--primary-s), 30%);
$link-hover-color: hsl(var(--primary-h), var(--primary-s), 15%);
$link-decoration: underline;

$input-font-size: .875rem;
$input-padding-y: .5rem;
$input-border-radius: $border-radius;

$modal-content-border-width: 0;
$modal-backdrop-opacity: .25;

$label-line-height: 1.4;
$form-label-color: $ui-primary-color;
$form-label-font-size: .875rem;

$nav-link-color: var(--primary-hsl);
$nav-link-hover-color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 10%));

$nav-pills-link-active-bg: var(--component-active-bg);
$nav-pills-link-active-color: var(--component-active-color);

$dropdown-link-active-bg: var(--component-active-bg);
$dropdown-link-active-color: var(--component-active-color);

$pagination-active-bg: var(--component-active-bg);
$pagination-active-color: var(--component-active-color);

$list-group-active-bg: var(--component-active-bg);
$list-group-active-color: var(--component-active-color);

$toast-header-color: #444c55;

$form-text-font-size: .75rem;
$form-text-margin-top: .5rem;

$spinner-border-width: .2em;
$spinner-border-width-sm: .15em;

$spinner-width-sm: 1.25rem;

/**
  Custom variables
**/

$leftnav-width: 15rem;
$leftnav-collapsed-width: 3.25rem;

$breakpoint-fixed-menu: 'lg';
$form-item-margin-bottom : 1.5rem;

$zindex-field-header-sticky: 50;

$form-control-clear-button-padding: 2rem;

$transition-leftnav-collapse: width ease 300ms;
