$input-label-weight: 400;
$button-border-width: 1px;

//$grid-gutter-widths: (
//        xs: 15px,
//        sm: 15px, // 30px
//        md: $grid-gutter-width, // 30px
//        lg: $grid-gutter-width, // 30px
//        xl: $grid-gutter-width  // 30px
//);

$brand-01: #314255;
$brand-03: #FD7400;
$ui-01: #FFFFFF;
$ui-02: #EBF0F7;
$ui-03: #DAE3EE;
$field-01: #FFFFFF;
$text-03: $color__navy-gray-7;

$brand-01-light: #68829E;

$box-shadow: $ui-03;

$breakpoint-fixed-menu: 'lg';

$form-item-margin-bottom : 1.5rem;

$transition-collapse: height 300ms $bx--standard-easing;