$input-label-weight: 400;
$button-border-width: 1px;

//$grid-gutter-widths: (
//        xs: 15px,
//        sm: 15px, // 30px
//        md: $grid-gutter-width, // 30px
//        lg: $grid-gutter-width, // 30px
//        xl: $grid-gutter-width  // 30px
//);

$brand-01: #314255;
$brand-03: #FD7400;
$ui-01: #FFFFFF;
$ui-02: #EBF0F7;
$ui-03: #DAE3EE;
$field-01: #FFFFFF;
$text-03: $color__navy-gray-7;

$brand-01-light: #68829E;

$box-shadow: rgba(0,0,0,.1);

$breakpoint-fixed-menu: 'lg';

$form-item-margin-bottom : 1.5rem;

$transition-collapse: height 300ms $bx--standard-easing;

$border-radius: 3px;
$btn-border-radius: $border-radius;
$input-border-radius: $border-radius;
$dropdown-list-border-radius: 3px;
$dropdown-border: 2px solid $ui-04;
$dropdown-focus-border-color: $brand-01-light;
$dropdown-hover-border-color: lighten($dropdown-focus-border-color, 25%);
$dropdown-list-offset: 3px;
$dropdown-btn-transition: all 100ms ease-in-out;
$dropdown-item-transition: background 50ms ease-in-out;