$fa-font-path: 'fonts';
$--font-path: 'fonts';

$input-label-weight: 400;
$button-border-width: 1px;
$button-border-radius: 3px;


$brand-01: #314255;
$brand-03: #FD7400;
$ui-01: #FFFFFF;
$ui-02: #EBF0F7;
$ui-03: #DAE3EE;
$ui-04: #dfe3e6;
$field-01: #FFFFFF;
$text-03: #8c9ba5;

$brand-01-light: #68829E;

$box-shadow: rgba(0,0,0,.1);

$breakpoint-fixed-menu: 'lg';

$form-item-margin-bottom : 1.5rem;

$transition-collapse: height 300ms cubic-bezier(0.5, 0, 0.1, 1);

$border-radius: 3px;
$btn-border-radius: $border-radius;
$input-border-radius: $border-radius;
$dropdown-list-border-radius: 3px;
$dropdown-border: 2px solid $ui-04;
$dropdown-focus-border-color: $brand-01-light;
$dropdown-hover-border-color: lighten($dropdown-focus-border-color, 25%);
$dropdown-list-offset: 3px;
$dropdown-btn-transition: all 100ms ease-in-out;
$dropdown-item-transition: background 50ms ease-in-out;
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-margin-bottom: 0;

$checkbox-inline-margin-bottom: .3rem;

$link-color: #3d70b2;
$link-decoration: underline;
