$input-label-weight: 400;
$button-border-width: 1px;

$grid-gutter-widths: (
        xs: 10px,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
);

$brand-01: #314255;
$brand-03: #FD7400;
$ui-01: #FFFFFF;
$ui-02: #EBF0F7;
$ui-03: #DAE3EE;
$field-01: #FFFFFF;

$box-shadow: $ui-03;