$autocomplete-option-hover-bg: $dropdown-link-hover-bg;
$autocomplete-option-hover-color: $dropdown-link-hover-color;

$autocomplete-option-selected-bg: $dropdown-link-hover-bg;
$autocomplete-option-selected-color: $dropdown-link-hover-color;