$fa-font-path: 'fonts';
$--font-path: 'fonts';



$brand-01: #314255;
$ui-01: #FFFFFF;
$ui-02: #EBF0F7;
$ui-03: #DAE3EE;
$ui-04: #dfe3e6;
$field-01: #FFFFFF;
$text-03: #8c9ba5;

$brand-01-light: #68829E;

/**
  Bootstrap variables
**/

$primary: #004c9b;
$info: #5aaafa;
$success: #3dc322;

$enable-negative-margins: true;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$transition-collapse: height 300ms cubic-bezier(0.5, 0, 0.1, 1);

$border-radius: .25rem;


$alert-padding-y: .75rem;

$btn-border-radius: $border-radius;
$btn-border-width: 1px;
$btn-font-weight: 500;
$btn-font-size-sm: .75rem;
$btn-font-size: .875rem;
$btn-font-size-lg: 1rem;
$btn-line-height: 1.45;

$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-margin-bottom: 0;

$caret-width: .3em;
$caret-spacing: $caret-width * 1.5;
$caret-vertical-align: .15em;

$input-font-size: .875rem;
$input-padding-y: .5rem;

$link-color: $primary;
$link-decoration: underline;

$input-border-radius: $border-radius;

$modal-content-border-width: 0;

$nav-link-color: var(--bs-primary-hsl);
$nav-link-hover-color: hsl(var(--bs-primary-h), var(--bs-primary-s), calc(var(--bs-primary-l) + 10%));

$nav-pills-link-active-bg: var(--component-active-bg);
$nav-pills-link-active-color: var(--component-active-color);

$dropdown-link-active-bg: var(--component-active-bg);
$dropdown-link-active-color: var(--component-active-color);

$pagination-active-bg: var(--component-active-bg);
$pagination-active-color: var(--component-active-color);

$list-group-active-bg:  var(--component-active-bg);
$list-group-active-color: var(--component-active-color);

$toast-header-color: #444c55;

$label-color: hsl(var(--bs-primary-h), var(--bs-primary-s), 20%);
$label-font-size: .9375rem;
$label-line-height: 1.4;
$form-label-color: $label-color;
$form-label-font-size: $label-font-size;

  /**
    Custom variables
  **/

$leftnav-width: 12.5rem;
$leftnav-collapsed-width: 3rem;

$breakpoint-fixed-menu: 'lg';
$form-item-margin-bottom : 1.5rem;

$input-label-weight: 400;

$dropdown-list-border-radius: $border-radius;
$dropdown-border: 2px solid $ui-04;
$dropdown-focus-border-color: $brand-01-light;
$dropdown-hover-border-color: lighten($dropdown-focus-border-color, 25%);
$dropdown-list-offset: 3px;
$dropdown-btn-transition: all 100ms ease-in-out;
$dropdown-item-transition: background 50ms ease-in-out;

$checkbox-inline-margin-bottom: .3rem;

$zindex-field-header-sticky: 20;

$form-control-clear-button-padding: 2rem;
