

@import 'variables';
@import 'vendors';

@import 'mixins/typography';
@import 'mixins/layer';
@import 'mixins/helper-mixins';
@import 'mixins/layout';
@import 'mixins/modifiers';
@import 'mixins/close-button';

@import "root";
@import "bootstrap";


$small-breakpoint: sm;

#sharp-app {
  color: $text-01;
  //line-height: 1.15;

  font-family: $font-family-base;
}

@import "./transitions";


@import '~sharp-ui/scss/ui';
@import '~sharp-commands/scss/commands';
@import '~sharp-form/scss/form';
@import '~sharp-entity-list/scss/entity-list';
@import '~sharp-dashboard/scss/dashboard';
@import '~sharp-show/scss/show';
@import '~sharp-filters/scss/filters';


@import 'components/ActionView';

input[type="number"].hide-controls {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

[v-cloak] {
  display: none;
}

.sortable-chosen {
  @include focus-outline('border');
}

.modal-open {
  overflow-y: hidden;
}
