@import 'node_modules/bootstrap/scss/bootstrap';


@import 'variables';
@import 'components/Autocomplete';
@import 'components/Upload';
@import 'components/Form';
@import 'components/Grid';
@import 'components/List';
@import 'components/Date';
@import 'components/Markdown';
@import 'components/MarkdownUpload';

input[type="number"].hide-controls {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}