html {
  height: 100%;
}

body {
  min-height:  100%;
}

$css--reset: true;
$css--typography: true;

@import 'variables';

@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/vars';

//@import '~carbon-components/scss/globals/scss/css--reset';
//@import '~carbon-components/scss/globals/scss/css--typography';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
//@import '~bootstrap/scss/utilities';

::before, ::after {
  box-sizing: border-box;
}

body {
  background-color: $ui-02;
  color: $text-01;
  line-height: 1.15;
  font-family: $font-family-base;
}

a {
  color: $link-color;
}

small {
  font-size: smaller;
}


@import 'pages/LoginPage';
