html, body {
  height: 100%;
}

$css--reset: true;
$css--typography: true;

@import 'node_modules/carbon-components/scss/globals/scss/colors';
@import 'node_modules/carbon-components/scss/globals/scss/vars';

@import 'node_modules/carbon-components/scss/globals/scss/css--reset';
@import 'node_modules/carbon-components/scss/globals/scss/css--typography';

@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import 'vars';

body {
  background-color: $ui-02;
}



@import 'pages/LoginPage';
@import 'pages/FormPage';