html, body {
  height: 100%;
}

#sharp-app {
  min-height:  100%;
}

$css--reset: true;
$css--typography: true;

@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/vars';

@import '~carbon-components/scss/globals/scss/css--reset';
@import '~carbon-components/scss/globals/scss/css--typography';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

@import 'vars';

body {
  background-color: $ui-02;
}

small {
  font-size: smaller;
}


@import 'pages/LoginPage';
@import 'pages/FormPage';
@import 'pages/DashboardPage';
@import 'pages/EntityListPage';