.home {
  .search-box {
    display: none;
  }
  .section {
    .row {
      align-items: center;
    }
  }
  .section-title {
    margin: 0;
    border-bottom: none;
  }
  .heroicon-component-fill {
    fill: $accentColor;
  }
  .heroicon-component-accent {
    fill: white;
  }
  .heroicon-component-outline {
    fill: black;
  }
  .heroicon-component-shadow {
    display none;
  }
}