.ShowPage {
  &__section {
    background: white;
    padding: 1rem;
    &--no-container {
      background: transparent;
      padding: 0;
    }
    overflow: hidden;
  }
  &__section-title {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__section-grid {
    margin-bottom: -1.5rem;
  }
  &__section-col {
    margin-bottom: 1.5rem;
  }

  &__fields-grid {
    .SharpGrid__row {
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__fields-row {
    &--list {
      margin-top: 1.5rem;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}