.ShowPage {
  --content-margin-top: 2rem;

  &__content {
    margin-top: var(--content-margin-top);
  }

  &__section {
    margin-bottom: 2rem;
  }

  &__fields-grid {
    margin-bottom: -1.5rem;
  }
  .show-field {
    margin-bottom: 1.5rem;
  }

  &__fields-row {
    &--list {
      margin-top: .5rem;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  &--localized {
    --content-margin-top: 1.25rem;
  }
}
