
:root#{$theme-class} {
  --theme-bg: hsl(var(--primary-h), 20%, 12.5%);
  --theme-color: rgba(255, 255, 255, .75);
  --theme-border-color: hsl(var(--primary-h), 20%, 17.5%);
  --bs-body-color: var(--theme-color);
  --bs-body-bg: hsl(var(--primary-h), 20%, 7.5%);

  --gradient-bg-opacity: .5;

  $btn-close-color: white;
  $btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  --btn-close-bg-image: #{escape-svg($btn-close-bg)};
}
