@mixin SharpDropdownOpenArrow {
  transform: rotate(-180deg);
}

@mixin SharpDropdownOpenList {
  @include font-size('14');
  display: flex;
  flex-direction: column;
}

@mixin SharpDropdownShadowBottom {
  //box-shadow: 0 1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
  @include focus-outline('layer')
}

@mixin SharpDropdownShadowTop {
  //box-shadow: 0 -1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
  @include focus-outline('layer')
}