// enhanced menu style
// apply to SharpLeftNav__list
@mixin enhanced-item-border-and-spacing() {

}

// apply to SharpLeftNav__list
@mixin enhanced-item-font-size() {
  .SharpLeftNav__item {
    font-size: 1rem;
    &--has-children {
      & > .SharpLeftNav__item-link {
        //font-size: .75rem;
      }
    }
  }
}
//
