.SharpCommandsDropdown {
  &__description {
    font-family: $font-family-base;
    text-transform: none;
    font-size: .875em;
    font-weight: 400;
    color: $text-muted;
    white-space: normal;
    min-width: 15rem;
    margin-top: .125rem;
  }

  .dropdown-menu {
    min-width: 12rem;
  }

  &--has-state {
    .dropdown-menu {
      min-width: 14rem;
    }
  }
}
