.SharpWidgetOrderedList {
  &__list {
    text-align: left;
  }
  .SharpDataList {
    margin-right: -1rem;
    margin-left: -1rem;
    margin-bottom: -1rem;

    &__table {
      margin-bottom: 0;
      border-left: 0;
      border-right :0;
    }
    &__row {
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}