.SharpWidget {
  text-align: center;
  border-width: 0;

  &--link {
    border: 1px solid transparent;
    text-decoration: none;
    transition: $btn-transition;
    &:hover {
      border-color: hsla(var(--bs-primary-h), var(--bs-primary-s), 30%, .75);
    }
  }

  &__title {
    font-size: 1.375rem;
  }

  &.SharpWidget--chart {
    .card-body {
      padding: 0;
    }
  }
}
