.SharpWidget {
  text-align: center;
  border-width: 0;

  &--panel.SharpWidget--link {
    border: 1px solid transparent;
    text-decoration: none;
    transition: $btn-transition;
    &:hover {
      border-color: hsla(var(--primary-h), var(--primary-s), 30%, .75);
    }
  }

  &__title {
    text-align: left;
    font-size: 1.125rem;
  }

  &.SharpWidget--chart {
    .card-body {
      padding: 0;
    }
  }
}
