.SharpFieldLocaleSelect {
  margin-bottom: $form-label-margin-bottom;

  &__btn {
    --primary: hsl(var(--primary-h), var(--primary-s), 30%);
    --padding-y: 2px;

    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background: white;
    border: 1px solid #b9cadf;
    color: var(--primary);
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    font-size: .6825rem;
    line-height: 1.3;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

    &--empty:not(&--active) {
      border: 1px dashed var(--primary);
      background: transparent;
      padding-top: calc(var(--padding-y) - 1px);
      padding-bottom: calc(var(--padding-y) - 1px);
    }
    &--active {
      background: var(--primary);
      color: white;
    }
    &--error {
      @extend .error-dot;
      &::after {
        margin-left: .5em;
      }
    }

    &:hover, &:focus {
      border: 1px solid var(--primary);
      padding-top: var(--padding-y);
      padding-bottom: var(--padding-y);
    }
  }
}
