.SharpFieldLocaleSelect {
  margin-bottom: $form-label-margin-bottom;

  &__btn {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background: white;
    border: 1px solid #b9cadf;
    color: var(--primary);
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    outline-offset: 2px;
    cursor: pointer;
    font-size: .625rem;
    line-height: 1;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

    --primary: hsl(var(--primary-h), var(--primary-s), 30%);
    --padding-y: .25rem;

    &:not(:focus-visible) {
      outline: 0;
    }

    &--empty:not(&--active) {
      border: 1px dashed var(--primary);
      background: transparent;
    }

    &--active {
      background: var(--primary);
      border: 1px solid var(--primary);
      color: white;
    }

    &--error {
      @extend .error-dot;
      &::after {
        margin-left: .5em;
      }
    }

    &:hover {
      border: 1px solid var(--primary);
    }
  }
}
