.SharpForm {

  &__alert {
    font-size: .875rem;
  }

  &__fieldset {

    .SharpForm__label {
      font-size: .75rem;
    }
  }

  .SharpGrid {
    margin-bottom: -$form-item-margin-bottom;
  }

  .SharpGrid__col--empty {
    display: none;
  }

  .SharpGrid__col {
    margin-bottom: $form-item-margin-bottom;
  }

  .SharpSelect--dropdown {
    @extend .form-select;
  }

  &__label {
    display: block;
    &--placeholder {
      display: none;
    }
  }

  &__form-item {
    flex: 1;
    height: 100%;

    &--type-list {
      @include media-breakpoint-up(sm) {
        margin-top: -1rem;
        > .SharpForm__field-header {
          position: sticky;
          top: var(--navbar-height);
          padding-top: 1rem;
          padding-left: .5rem;
          padding-right: .5rem;
          margin-left: -.5rem;
          margin-right: -.5rem;
          &.stuck {
            z-index: $zindex-field-header-sticky;
            box-shadow: $box-shadow-sm;
            background-color: white;
            border-bottom: 1px solid $border-color;
          }
        }
      }
      .SharpForm__help-message {
        margin-top: 1rem;
      }
    }

    &--type-check {
      .form-check {
        margin-bottom: 0;
      }
    }

    > .SharpForm__field-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 2.5rem;
    }
  }

  .SharpGrid__row {
    &--has-label {
      > .SharpGrid__col > .SharpForm__form-item--no-label {
        .SharpForm__label {
          display: block;
          &::after {
            content: "\a0\a0"
          }
        }
      }
    }
    > .col-md-12 {
      > .SharpForm__form-item--type-check {
        .SharpForm__label {
          display: none;
        }
        .SharpForm__field-content {
          min-height: auto;
        }
      }
    }
  }

  &__label--disabled {
    opacity: .5;
  }

  &__form-item--danger {
    .form-control {
      @extend .is-invalid;
    }
  }

  .invalid-feedback {
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .form-text {
    line-height: 1.4;
  }


  .SharpTabs {
    .SharpForm__locale-dropdown {
      align-self: center;
      margin-right: 1rem;
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-right: 0;
      }
    }
  }

}
