@import "../mixins/fix-module-fields-margin";

.SharpForm {

  .tab-pane {
    min-height: #{'max(30vh, 200px)'};
    background-color: white;
    padding: 1rem 1.25rem;
  }

  &__alert {
    font-size: .875rem;
  }

  &__fieldset {
    @include fix-module-fields-margin;

    .SharpForm__label {
      font-size: .75rem;
    }
  }

  .SharpGrid__col--empty {
    display: none;
  }

  .SharpGrid__col:not(.SharpGrid__col--empty), &__form-item--row {
    margin-bottom: $form-item-margin-bottom;
  }

  .SharpSelect--dropdown, .SharpTags {
    @extend .form-select;
    .multiselect__select {
      display: none;
    }
  }

  &__form-item {
    flex: 1;
    height: 100%;

    // For single check align with other field
    &--type-check {
      .SharpForm__label {
        &::after {
          content: "\a0\a0"
        }
      }
      .SharpCheck {
        height: 2.5rem;
      }
    }

    &--type-list {
      @include media-breakpoint-up(sm) {
        margin-top: -1rem;
        > .SharpForm__field-header {
          position: sticky;
          top: var(--navbar-height);
          z-index: 20;
          padding-top: 1rem;
          background-color: white;
          padding-left: .5rem;
          padding-right: .5rem;
          margin-left: -.5rem;
          margin-right: -.5rem;
          &.stuck {
            box-shadow: $box-shadow-sm;
            border-bottom: 1px solid $border-color;
          }
        }
      }
    }
  }

  &__label {
    display: block;
    font-size: .875rem;
    vertical-align: baseline;
    text-transform: uppercase;
    //margin-bottom: .375rem;
  }

  &__label--disabled {
    opacity: .5;
  }

  &__form-item--danger {
    .form-control {
      @extend .is-invalid;
    }
    .SharpForm__form-requirement {
      max-height: rem(200px);
      background: rgba($support-01, .1);
      margin: 0;
      padding: .5rem 1rem;
    }
  }


  &__form-requirement {
    font-size: .75rem;
    margin: .75rem 0 0;
    max-height: 0;
    overflow: hidden;
    font-weight: 700;
    line-height: 1.5;

    &:empty {
      display: none;
    }

    &::before {
      content: '*';
      display: inline-block;
      margin-right: .25em;
      margin-left: -.25em;
      color: $support-01;
    }
  }

  &__help-message {
    font-size: .75rem;
    margin: .75rem 0 0;
    line-height: 1.5;
  }

  .SharpTabs {
    .SharpForm__locale-dropdown {
      align-self: center;
      margin-right: 1rem;
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-right: 0;
      }
    }
  }

}
