@import 'flatpickr';

.SharpDate {
  position: relative;

  &__input {
    @include reset;
    @include font-size('14');
    display: block;
    position: relative;
    height: rem(40px);
    //max-width: 9rem;
    padding: 0 1rem;
    background-color: $field-01;
    color: $text-01;
    border: 1px solid transparent;

    width: 100%;

    &:focus,
    &.bx--focused {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: 1px solid transparent;
    }

    &::-webkit-input-placeholder {
      color: $text-03;
    }
  }

  .SharpDate__calendar {
    @extend .flatpickr-calendar;
  }

  .SharpDate__picker {
    position: absolute;
    z-index: 100;
    .SharpDate__time {
      .dropdown {
        position:absolute;
        height:100%;
        top:0;
        .select-list {
          height:100%;
        }
      }
    }

    .SharpDate__calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: .875rem 1rem .25rem;
      width: rem(285px);
      height: rem(230px);
      border-radius: 0;
      border: none;
      overflow: hidden;
      margin-top: -1px;

      &:before,
      &:after {
        display: none;
      }

      &:focus {
        outline: 1px solid $brand-01;
      }

      .up {
        @extend .flatpickr-current-month;
      }

      .prev {
        @extend .flatpickr-prev-month;
      }
      .next {
        @extend .flatpickr-next-month;
      }

      & > header {
        @extend .flatpickr-month;

        .SharpDate__cur-month, .SharpDate__cur-year, .SharpDate__cur-decade {
          @extend .cur-month;
          &:hover {
            background: none !important;
          }
        }

        width: 100%;
        margin-bottom: .2rem;

        .prev, .next {
          padding: 0;
          line-height: rem(20px);

          &:hover svg {
            fill: $brand-01;
          }
        }

        .up {
          @include font-size('12');
          text-transform: uppercase;
          padding: 0;
          &:hover {
            background: $ui-02;
            cursor: pointer;
          }
        }
      }


      //Extending overrided flatpickr classes
      .SharpDate__weekdays {
        @extend .flatpickr-weekdays;
      }

      .SharpDate__days {
        @extend .flatpickr-days;
      }

      .day-header {
        @extend .flatpickr-weekday;
      }
      .day {
        @extend .flatpickr-day;
      }
      .SharpDate__dayContainer, .SharpDate__monthContainer, .SharpDate__yearContainer {
        @extend .dayContainer;
      }
      //

      .SharpDate__innerContainer, .SharpDate__rContainer {
        width: rem(225px) !important;
        height: rem(168px) !important;
      }

      .SharpDate__innerContainer {
        @extend .flatpickr-innerContainer;

        .SharpDate__rContainer {
          @extend .flatpickr-rContainer;

          .SharpDate__weekdays {
            width: rem(225px);
            margin-bottom: .325rem;

            .day-header {
              @include font-size('12');
              font-weight: 700;
              color: $text-01;
            }
          }
          .SharpDate__days,
          .SharpDate__dayContainer,
          .SharpDate__monthContainer,
          .SharpDate__yearContainer {
            width: rem(225px);
            min-width: rem(225px);
            max-width: rem(225px);
            height: rem(132px);
          }


          .SharpDate__dayContainer {
            .day {
              @include font-size('12');
              height: rem(25px);
              width: 1.8rem;
              line-height: rem(25px);
              flex-basis: 1.8rem;
              margin: rem(.5px) 0;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $text-01;
              border-radius: 0;

              &:hover {
                background: $ui-04;
              }

              &:focus {
                outline: none;
                background: $ui-04;
              }

              &.today {
                border: 2px solid $brand-01;
              }

              &.blank {
                pointer-events: none;
                cursor: default;
                &:hover {
                  background: transparent;
                }
              }

              &.disabled {
                cursor: not-allowed;
                color: $ui-05;

                &:hover {
                  background: transparent;
                }
              }

              &.selected {
                background: $brand-01;
                color: $inverse-01;
                border: 2px solid transparent;
              }
            }
          }

          .SharpDate__monthContainer, .SharpDate__yearContainer {
            justify-content: space-between;
            .month, .year {
              flex-basis: 33.333333%;
              text-align: center;

              &:focus {
                outline: none;
                background: $ui-04;
              }

              &:hover {
                background: $ui-03;
                cursor: pointer;
              }

              &.selected {
                background: $brand-01;
                color: $inverse-01;
                border: 2px solid transparent;
              }
            }
          }

        }

      }
    }
  }
}