@import 'flatpickr';



.SharpDate {
  position: relative;

  &__input {
    @include reset;
    @include font-size('14');
    display: block;
    position: relative;
    height: rem(40px);
    //max-width: 9rem;
    padding: 0 1rem;
    background-color: $field-01;
    color: $text-01;
    border: 1px solid transparent;

    z-index: z('dropdownText');

    width: 100%;

    outline: 1px solid transparent;

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: 1px solid transparent;
    }

    &::-webkit-input-placeholder {
      color: $text-03;
    }
  }

  &__clear-button {
    @extend %select-close-button;

    &-icon {
      @extend %select-close-icon;
      position: initial;
    }
  }

  &__input-wrapper {
    @include layer('raised');
  }

  &--open {
    z-index: 200;
    .SharpDate__picker, .SharpDate__input-wrapper {
      @include focus-outline('layer');
    }
  }

  .SharpDate__calendar {
    height: auto!important; // #auto-version
    min-height: 100%;
    @extend .flatpickr-calendar;
  }

  .SharpDate__picker {
    position: absolute;
    display: flex;
    //min-height: rem(215px);
    //height: auto!important; // #auto-version
    margin-top: -1px;

    &:focus {
      @include focus-outline('border');
    }

    .SharpDate__time {
      background: #fff;
      width: 10em;
      min-height: 200px;
      padding: .875rem 0 .25rem;
      @include font-size('12');

      header {
        width: 100%;
        height: rem(28px);
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .hint {
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .dropdown {
        box-shadow:none;
        height:100%;
        top:0;

        .select-list {
          height:100%;//rem(230px) - .875rem - rem(28px) - 1rem;
          display: flex;
          overflow: hidden;
          flex-flow: row nowrap;
          align-items: stretch;
          justify-content: space-between;

          ul {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            list-style-type: none;

            padding: 0;
            margin: 0;

            li {
              height: rem(25px);

              display: flex;
              align-items: center;
              justify-content: center;

              cursor: default;

              &:not(.hint):hover {
                background: $ui-04;
                cursor: pointer;
              }

              &.active {
                background: $brand-01 !important;
                color: $inverse-01;
                border: 2px solid transparent;
              }


            }

          }

        }
      }
    }

    .SharpDate__calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: .875rem 1rem;
      width: rem(285px);
      height: rem(230px);
      border-radius: 0;
      border: none;
      overflow: hidden;
      //margin-top: -1px;

      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }

      &:focus {
        outline: 1px solid $brand-01;
      }

      .up {
        @extend .flatpickr-current-month;
      }

      .prev {
        @extend .flatpickr-prev-month;
      }
      .next {
        @extend .flatpickr-next-month;
      }

      & > header {
        @extend .flatpickr-month;

        .SharpDate__cur-month, .SharpDate__cur-year, .SharpDate__cur-decade {
          @extend .cur-month;
          &:hover {
            background: none !important;
          }
        }

        width: 100%;
        margin-bottom: .2rem;

        .prev, .next {
          padding: 0;
          //line-height: rem(20px);

          &:hover svg {
            fill: $brand-01;
          }
        }

        .up {
          @include font-size('12');
          text-transform: uppercase;
          padding: 0;
          &:hover {
            color: $brand-01;
            cursor: pointer;
          }
        }
      }


      //Extending overrided flatpickr classes
      .SharpDate__weekdays {
        @extend .flatpickr-weekdays;
      }

      .SharpDate__days {
        @extend .flatpickr-days;
      }

      .day-header {
        @extend .flatpickr-weekday;
      }
      .day {
        @extend .flatpickr-day;
      }
      .SharpDate__dayContainer, .SharpDate__monthContainer, .SharpDate__yearContainer {
        @extend .dayContainer;
        height: auto !important; // #auto-version
      }
      //

      .SharpDate__innerContainer, .SharpDate__rContainer {
        width: rem(225px) !important;
        //height: rem(168px) !important; // #auto-version
      }

      .SharpDate__innerContainer {
        height: auto !important; // #auto-version
        @extend .flatpickr-innerContainer;

        .SharpDate__rContainer {
          height: auto !important; // #auto-version
          @extend .flatpickr-rContainer;

          .SharpDate__weekdays {
            width: rem(225px);
            margin-bottom: .325rem;

            .day-header {
              @include font-size('12');
              font-weight: 700;
              color: $text-01;
            }
          }
          .SharpDate__days,
          .SharpDate__dayContainer,
          .SharpDate__monthContainer,
          .SharpDate__yearContainer {
            width: rem(225px);
            min-width: rem(225px);
            max-width: rem(225px);
            //height: rem(132px);
          }


          .SharpDate__dayContainer {
            .day {
              @include font-size('12');
              height: rem(25px);
              width: 1.8rem;
              line-height: rem(25px);
              flex-basis: 1.8rem;
              margin: rem(.5px) 0;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $text-01;
              border-radius: 0;

              &:hover {
                background: $ui-04;
              }

              &:focus {
                outline: none;
                background: $ui-04;
              }

              &.today {
                border: 2px solid $brand-01;
              }

              &.blank {
                pointer-events: none;
                cursor: default;
                &:hover {
                  background: transparent;
                }
              }

              &.disabled {
                cursor: not-allowed;
                color: $ui-05;

                &:hover {
                  background: transparent;
                }
              }

              &.selected {
                background: $brand-01;
                color: $inverse-01;
                border: 2px solid transparent;
              }
            }
          }

          .SharpDate__monthContainer, .SharpDate__yearContainer {
            justify-content: space-between;
            .month, .year {
              flex-basis: 33.333333%;
              text-align: center;

              display: flex;
              align-items: center;
              justify-content: center;

              &:focus {
                outline: none;
                background: $ui-04;
              }

              &:hover {
                background: $ui-03;
                cursor: pointer;
              }

              &.selected {
                background: $brand-01;
                color: $inverse-01;
                border: 2px solid transparent;
              }
            }
          }

        }

      }
    }
  }
}